<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>
	var socket = io.connect('http://localhost:3000');
		socket.on('updateAgenda', function (agendaItem) {
		$(agendaItem).css({'background-color','green'})
	});

	$('.agenda-item').click( function() {
		var item = this.attr("id");
		socket.emit('newAgenda', item);
	});
</script>

<style>
	.agenda-item {
		height:100px;
		width:100px;
		margin:10px;
		background-color:red;
	}
</style>

<ul>
	<li id='agenda-li1' class='agenda-item'></li>
	<li id='agenda-li2' class='agenda-item'></li>
	<li id='agenda-li3' class='agenda-item'></li>
	<li id='agenda-li4' class='agenda-item'></li>
	<li id='agenda-li5' class='agenda-item'></li>
</ul>
