<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
	$(function(){
	var amt = 0;
	$('#addTopic').click(function() {
		
		samt = amt.toString();
		$('#topicList').append(
			"<label>Topic " + samt + "</label>"
			+ "<input name=\'topic" + samt + "\'type='text' /> <br />" 
		); 
		amt = amt + 1;
		$('#topicAmt').val(amt);
	});
});
</script>
<html>
	<body>
		<form action='/expert' method='post'>
			<label>Conference Title: </title>
			<input name='title' type='text' />

			<label>Session Number: </label>
			<input name='sessionNumber' type='number' />

			<label>Agenda: </label>

			<input value='Create Conference' type='submit' />
		</form>
	</body>

</html>

