<!--<script src="http://ec2-54-218-74-52.us-west-2.compute.amazonaws.com:8002/socket.io/socket.io.js"></script>-->
<script src="/socket.io/socket.io.js"></script>
<script src="js/clientside_groupchat.js"></script>
<script src="js/clientside_notes.js"></script>
<script src="js/clientside_agenda.js"></script>
<!--<script src="js/clientside_qna.js"></script>-->
<script src="js/clientside_profile.js"></script>
<script src="js/wisdom-twitter-client.js"></script>
<script src="js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code
.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/css/style1.css">
<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome/css/font-awesome.css">

<script>


wisdom = {
	global : {
		
		sesssionid: "666"
	},
	user : {
		userId : '<%= user.userId %>',
		'firstName' : '<%= user.firstName %>',
		'lastName' : '<%= user.lastName %>',
		profileImageUrl : '<%= user.profilePic %>'
	},
	talk : {
		talkId : '883nnew39231nn321',
		talkTitle : 'Waste Management in Urban settings.',
		startTime : 1375763389,
		status : 'LIVE',
		info : {
			numSpeakers : 3 
		}
	}
};



//var socket = io.connect('http://ec2-54-218-74-52.us-west-2.compute.amazonaws.com:8002');
var socket = io.connect('http://127.0.0.1:8002');

var newChat = ChatClient();
newChat.init(socket, wisdom);

var notebook = NoteClient();
notebook.init(socket)

var agenda = AgendaClient();
agenda.init(socket);

var twit = TwitterClient();
twit.init(socket, $);

/*var QnAModule = QnAClient();
QnAModule.initialize(socket,wisdom.global.sessionid,wisdom.global.userid,wisdom.user.firstName,renderQnA);
*/
var profile = ProfileClient();
profile.init(socket);

var USER_UPDATE = "wprofile-user-update";
/*socket.on('connect', function() {
	
});*/
socket.on('connect', function() {
	socket.emit(USER_UPDATE, wisdom.user);
});


$(function(){
	// subscribe on page load.
	twit.subscribe();
		/**
		var dynamo = function() {
		var windowWidth = $(window).width();
		var leftBarWidth = $('#leftBar').css({'width'});
		var rightBarWidth = $('#rightBar').css({'width'});
		var videoWidth = $('#video').css({'width'});
		if(windowWidth < 1279) {

		};
	};*/

$('#spectators-tab1').click( function(){
	if($('#spectators1').css('display') === 'none'){
		$('#information1').css({'display':'none'});
		$('#panelists').css({'display':'none'});
		$('#spectators1').css({'display':'block'});		
	}

});

$('#information-tab1').click( function(){
	if($('#information1').css('display') === 'none'){
		$('#spectators1').css({'display':'none'});
		$('#panelists').css({'display':'none'});
		$('#information1').css({'display':'block'});		
	}

});

$('#panelists-tab1').click( function(){
	if($('#panelists').css('display') === 'none'){
		$('#spectators1').css({'display':'none'});
		$('#information1').css({'display':'none'});
		$('#panelists').css({'display':'block'});		
	}

});

	$('#currentTopic').hover( function() {
		if($('#agenda').css('display') === 'none') {
			$('#agenda').css({'display':'block'});
		}
		else {
			$('#agenda').css({'display': 'none'});
		};
	});

	$('#agenda').hover( function() {
		if($('#agenda').css('display') === 'none') {
			$('#agenda').css({'display':'block'});
		}
		else {
			$('#agenda').css({'display': 'none'});
		};

	})

		/*$('.agenda-item').click( function() {
			var topicId = this.id;
			alert(topicId);	
			//agenda.changeMainTopic(thisItem);
		});*/

$('#chat-tab').click( function() {
	if($('#chatroom').css('display') === 'none' ) {
		$('#chat-tab').css({'opacity':'1'});
		$('#qa').css({'display':'none'});
		$('#chatroom').css({'display':'block'});
		$('#newquestionbox').css({'display' : 'none'
	});
		$('#submitnewquestion').css({'display' : 'none'
	});
		$('#qa-tab').css({'opacity':'.5'});

	}
});

$('#qa-tab').click( function() {
	if($('#qa').css('display') === 'none') {
		$('#qa-tab').css({'opacity':'1'});
		$('#chatroom').css({'display':'none'});
		$('#qa').css({'display':'block'});
		$('#newquestionbox').css({'display' : 'block'
	});
		$('#submitnewquestion').css({'display' : 'block'
	});
		$('#chat-tab').css({'opacity':'.5'});
	}
});

$('#spectators-tab').click( function(){
	if($('#spectators').css('display') === 'none'){
		$('#information').css({'display':'none'});
		$('#spectators').css({'display':'block'});		
	}

});

$('#information-tab').click( function(){
	if($('#information').css('display') === 'none'){
		$('#spectators').css({'display':'none'});
		$('#information').css({'display':'block'});		
	}

});





		// when the client clicks SEND
		$('#enterchat').click( function() {
			var message = $('#chatdata').val();
			if(message.length > 0 || message === 'Submit a Message') {
			$('#chatdata').val('');
			// tell server to execute 'sendchat' and send along message as parameter
			console.log("wisdom : " +  JSON.stringify(wisdom));
			var data = {
				firstName : wisdom.user.firstName,
				payload : message
			}
			console.log('this data is ' + JSON.stringify(data));
			newChat.sendMessage(data);
		}
		});

		// when the client hits ENTER on their keyboard
		$('#enterchat').keypress(function(e) {
			alert('asd');
			if(e.which == 13) {
				alert('enter ');
				$(this).blur();
				$('#enterchat').focus().click();
			}
		});
		// when client first clicks on chat box, remove value
		var ifClicked = false;
		$('#chatdata').click(function() {
			if(ifClicked === false) {
				ifClicked = true;
				$('#chatdata').val('');
			}
		});

		//send and save notes after 5 second after user stops typing
		//5 second timer doesn't work...
		var stoppedTyping;
		$('#notesarea').keypress(function() {
			var notes = $('#notesarea').val();
			if (stoppedTyping) clearTimeout(stoppedTyping);

			stoppedTyping = setTimeout(notebook.updateNotes(notes), 5000);
		});

	});

// Twitter updateTweet overloading.

twit.updateTweet = function(tweet) {
	if(tweet.hasOwnProperty('text') && 
		tweet.hasOwnProperty('user') &&
		tweet['user'].hasOwnProperty('screen_name')) {
	var htm = 
	'<div class="twitterMessageBox"> <div style="width:80%;float:left;">' + 
	'<div class="twitterMessage" style="">"' + tweet.text +
	' "</div> <div class="twitterName">@' + tweet.user.screen_name +
	'</div> </div> <div class="twitterIcon" style="width:30px;">' + 
    '<i class="icon-twitter" style="text-decoration: none;">' + 
    '</i></div></div>';
/*
	var htm = "<div class='tweet'><table><tr><td><img src='https://abs.twimg.com/a/1375952549/images/resources/twitter-bird-white-on-blue.png' height=25px width=25px></td><td width='100%'>" + tweet.text + "</td></tr></table></div>";
	*/
	$("#social-feed").append(htm);
	}
}

newChat.joinChat = function(chatlog) {
	for(var i = 0; i < chatlog.length; i++) {
		$('#conversation').append('<div class=\'chatmessagebox\'><div class=\'chatname\'>' + chatlog[i].username + '</div><div class=\'chatmessage\'>' + chatlog[i].messageData + '</div></div>');

	}
};
newChat.displayChat = function(username, message) {
	$('#conversation').append('<div class=\'chatMessageBox\'><div class=\'chatName\'>' + username + '</div><div class=\'chatMessage\'>' + message + '</div></div>');
};


profile.updateSpectators = function(users) {

	for(var i = 0; i < users.length; i++) {
		$('#spectatorsList').prepend('<a href=><li id=\'' + users[i].userId + '\'><img src=\'' + users[i].profileImageUrl + '\'/></a><div id=\'spectatorName\'>' + users[i].firstName + ' ' + users[i].lastName + '</div><a href=\'' + users[i].linkedinUrl + '\'><div id=\'spectatorSocial\'></div></a>');
	};

		/**$('#spectatorsList').append('<li><img src=\'' + users[i].profileImageUrl + '\'/><div id=\'spectatorName\'>' + users[i].firstName + ' ' + users[i].lastName + '</div><a href=\'' + spectatorSocial + '\' + users[i].linkedinUrl + '\'><div id=\'' + spectatorSocial + '\'></div></a>' );*/

};

profile.newSpectator = function(userData) {
	if($("#" + userData.userId).length < 1) {
	$('#spectatorsList').prepend('<li id=\'' + userData.userId + '\'><a><img src=\'' + userData.profileImageUrl + '\'/></a><div id=\'spectatorName\'>' + userData.firstName + ' ' + userData.lastName + '</div><a href=\'' + userData.linkedinUrl + '\'><div id=\'spectatorSocial\'></div></a>');
};
};



profile.spectatorLeft = function(userId) {
	$('#' + userId).remove();
};

</script>
<html>
<head>
	<title>Wastewise</title>
</head>

<body>
	<div id='main-container' class='backgroundClass'>
		<div id='header'>
			<div id='hostLogo'>
				<img src="images/wastewiselogo.png"/>
			</div>
			<h1>WasteWise Roundtable</h1>
		</div>

		<div id='leftBar' class='backgroundClass'>
			<div id="social-tab" class="tabs-schema"><i class="icon-twitter"></i>Social</div>
			<div id='social-feed'></div>
			<div class='inputComponent'>
				<input type="text" id="newTweetbox" value="#bewastewise" onFocus="this.value='#bewastewise'"  />
				<input type="button" id='submitnewquestion' value="TWEET" onclick='proposeQuestion();'/><br>
			</div>

		</div>

		<div id='video'>
			<iframe width="560" height="315" src="//www.youtube.com/embed/YcxmpE0QoH8" frameborder="0" allowfullscreen></iframe>
		</div>

		<div id='rightBar' class='backgroundClass'>
			<div id='chat-tab' class='tabs-schema'>
				<i class="icon-comments"></i> CHAT
			</div>

			<div id='chatroom'>
				<div id='conversation'>
					

				</div>
				<div class='inputComponent'>
				<input id='chatdata' value="Submit a Message"/>
				<input id='enterchat' type='button' value='SEND'/>
				</div>
			</div>
		</div>

		<!--<div id='timer' class='tabs-schema'>01:59:00</div>-->

		<div id="bottomBar1">
	<div id="bottomBarNav1">

		<div id="panelists-tab1" class="tabs-schema">
			<i class="icon-star"></i> 
			Panelists
		</div>


		<div id="spectators-tab1" class="tabs-schema">
			<i class="icon-group"></i> 
			Spectators
		</div>


		<div id="information-tab1" class="tabs-schema">
			<i class="icon-info-sign"></i> 
			Information
		</div>

		<div id="logout-tab1" class="tabs-schema">
			<i class="icon-signout"></i> 
			Logout
		</div>
	</div>
		<div id='spectators1'>
				<ul id='spectatorsList'>

				</ul>
		</div>

<div style="width: 1420px;">
	<div id="panelists" style=" overflow:auto ; overflow-y: hidden; display: block;">
		<div id="panelist1" style="">
			<div id="panelist1InfoBox" class="panelistInfoBox" style="margin-right: 0px; display: block;">
				<center>
					<div class="panelistName">Nickolas Themelis</div>
					<div class="panelistAvatar" id="avatar-themelis"></div>	
					<div class="panelistTitle">Panelist</div>	
					<div class="panelistSocial">
						<a href="http://www.linkedin.com/pub/nickolas-themelis/16/b26/60a"><i class="icon-linkedin-sign" style="text-decoration: none;"></i></a>
						<a href="#"><i class="icon-twitter-sign" style="text-decoration: none;"></i></a>
						<a href="#"><i class="icon-facebook-sign" style="text-decoration: none;"></i></a>
					</div>
	    		</center>
			</div> <!--Info box closed here-->

			<div id="panelist1BioBox" class="panelistBioBox" style="margin-left: 0px; margin-right: 0px; display: block;">
				<div class="panelistTextBlock">
					<div class="panelistBioTitle">Panelist Bio</div>
					Prof. Nickolas Themelis is the Founder and Director of the Earth Engineering Center at Columbia University and the Global Waste-to-Energy Research and Technology Council, an international consortium with sister organizations in fourteen countries. In 1997, Dr. Themelis led the transformation of Columbia University's historic Henry Krumb School of Mines to the Earth and Environmental Engineering department.
				</div>
				<div id="panelist1AddlBlock" style="display: none;">
	        		<div class="panelistTextBlock">
	        			<div class="panelistMoreInfoTitle">
	        				Relevant Articles
	        			</div>
						
					</div>

				
      			</div><!--Additional Block closes here-->
			</div> <!-- Panelist 1 Bio closes-->
			<div id="panelist1ArrowContainer" style="display: block;">
				<i id="panelist1Arrow" class="icon-angle-right"></i>

			</div> <!-- arrow div -->
			<div id="panelist1Arrow2Container" style="display:none;">
				<i id="panelist1Arrow2" class="icon-angle-left"></i>
			</div> <!-- arrow 2-->
		</div> <!--panelist 1-->
	
		<div id="panelist2" style="">
			<div id="panelist2InfoBox" class="panelistInfoBox" style="margin-right: 0px; display: block;">
				<center>
					<div class="panelistName">Paul Brunner</div>
					<div class="panelistAvatar" id="avatar-brunner"></div>	
					<div class="panelistTitle">Panelist</div>	
					<div class="panelistSocial">
						<a href="http://at.linkedin.com/pub/paul-h-brunner/52/b71/51b"><i class="icon-linkedin-sign" style="text-decoration: none;"></i></a>
						<a href="#"><i class="icon-twitter-sign" style="text-decoration: none;"></i></a>
						<a href="#"><i class="icon-facebook-sign" style="text-decoration: none;"></i></a>
					</div>
	    		</center>
			</div> <!--Infobox closing -->
			<div id="panelist2BioBox" class="panelistBioBox" style="margin-left: 0px; margin-right: 0px; display: block;">
				<div class="panelistTextBlock">
					<div class="panelistBioTitle">
					Panelist Bio
					</div>
					Prof. Paul H. Brunner is considered to be the father of material flow analysis methodology in urban metabolism and industrial ecology. He is the Head of the Institute for Water Quality, Resource and Waste Management at Vienna University of Technology. He is the Co-author of the book Metabolism of the Anthroposphere: Analysis, Evaluation, Design. 
				</div> 
				<div id="panelist2AddlBlock" style="display: none;">
	        		<div class="panelistTextBlock">
	        			<div class="panelistMoreInfoTitle">
	        				Relevant Articles
	        			</div>
						
					</div>

			
      			</div> <!-- closes additional block -->
      		</div> <!--closes bio box -->
			<div style=" float: left;">
				<div id="panelist2ArrowContainer" style="display: block;">
					<i id="panelist2Arrow" class="icon-angle-right"></i>

				</div> <!-- Arrow container  -->

				<div id="panelist2Arrow2Container" style="display: none;">
					<i id="panelist2Arrow2" class="icon-angle-left"></i>

				</div> <!-- Arrow2 contianer 2 -->
			</div> <!-- style div -->
		</div> <!-- closes panelist 2 -->

		<div id="panelist3" style="">
		<div id="panelist3InfoBox" class="panelistInfoBox" style="margin-right: 0px; display: block;">
			<center>
				<div class="panelistName">Perinaz Bhada-Tata</div>
				<div class="panelistAvatar" id="avatar-perinaz"></div>	
				<div class="panelistTitle">Moderator</div>	
				<div class="panelistSocial">
					<a href="#"><i class="icon-linkedin-sign" style="text-decoration: none;"></i></a>
					<a href="#"><i class="icon-twitter-sign" style="text-decoration: none;"></i></a>
					<a href="#"><i class="icon-facebook-sign" style="text-decoration: none;"></i></a>
				</div>
	    	</center>
		</div> <!-- info box -->
		<div id="panelist3BioBox" class="panelistBioBox" style="margin-left: 0px; margin-right: 0px; display: block;">
			<div class="panelistTextBlock"><div class="panelistBioTitle">Moderator Bio</div>Perinaz Bhada-Tata is the Editor of World Bank's publication Cities and Climate Change: Responding to an Urgent Agenda and is the Co-author of What a Waste - A Global Review of Solid Waste Management. Perinaz worked as a Solid Waste Management Consultant at the World Bank and is a Research Associate at Columbia University's Earth Engineering Center.
			</div> 
			<div id="panelist3AddlBlock" style="display: none;">
	        	<div class="panelistTextBlock">
	        		<div class="panelistMoreInfoTitle">Relevant Articles</div>
					
		
				</div>

      		</div> <!-- additional block -->
		</div> <!-- bio box -->
		<div style="float: left;">
			<div id="panelist3ArrowContainer" style="display: block;">
				<i id="panelist3Arrow" class="icon-angle-right"></i>

		    </div> <!--arrow 3 continer -->

			<div id="panelist3Arrow2Container" style="display: none;">
				<i id="panelist3Arrow2" class="icon-angle-left"></i>

			</div> <!--arrow 3 container 2 closes-->
		</div> <!-- style closing -->
		</div> <!-- panelist 3 closing -->
	</div> <!-- panelists closing -->
</div>
	

<div id="information1" style="display: none;">
	<ul>
	<li>
	<div class="wastewiseInfo">
		<div class="wastewiseTitle">WasteWise</div>
		<div class="wastewiseText">
			Waste Wise is a simple idea: Use 21st century tools to share expertise globally, opening up high-quality, leading edge thinking to those who have not had access to this expertise, while also eliminating the environmental and financial costs of global conferences. Waste Wise will conduct online video panels with experts from across the waste spectrum using Google+ Hangouts, broadcast them live, and then publish content for ready use by decision makers, policy analysts, experts and advocates.
		</div>
	</div>
</li>
<li>
	<div class="discussionInfo">
		<div class="discussionTitle">Roundtable Background</div>
		<div class="discussionText">
			A recent World Bank report on waste management and climate change co-authored by our moderator Perinaz Bhada-Tata estimates that current waste management methods, specifically emissions from landfill, account for almost five per cent of total global greenhouse gas emissions and 12 per cent of the world's emissions of methane (CO4), a greenhouse gas with an impact more than 20 times that of carbon dioxide (CO2). According to the CDM and JI of the Kyoto protocol, there is a great potential for addressing methane emissions by reducing the amount of waste that ends up in a landfill. Globally nearly 70% of our solid waste is landfilled, a meagre 19% is recovered through composting or recycling, the remaining 11% is converted to energy through incineration or other waste-to-energy technologies. <a style="text-transform:uppercase;font-size:9px;font-weight:700;text-decoration:none;" href="http://wastewise.be/">More Info</a>
		</div>
	</div>
	
</li>
<li>
	<div id="resources">
		<div class="panelTitle">Resources</div>
        <div id="#bottomResourcesText" style="margin-top: 5px;">
			<div class="bullet">
				<i class="icon-link"></i>
				<a href="http://web.worldbank.org/WBSITE/EXTERNAL/TOPICS/EXTURBANDEVELOPMENT/0,,contentMDK:23172887~pagePK:210058~piPK:210062~theSitePK:337178,00.html">What A Waste</a>
			</div>
			<div class="bullet">
				<i class="icon-link"></i>
				<a href="http://www.seas.columbia.edu/earth/wtert/">Waste to Energy Technology and Research Council</a>
			</div>
			<div class="bullet">
				<i class="icon-link"></i>
				<a href="http://iwr.tuwien.ac.at/en/home.html">Institute for Wase Management at Vienna University of Technology</a>
			</div>
		</div>
	</div>
<li>
</div>
	</div>
</body>

</html>
