<script src="https://live.wisdom.ly/socket.io/socket.io.js"></script>-->
<!--<script src="/socket.io/socket.io.js"></script>-->
<script src="js/clientside_groupchat.js"></script>
<script src="js/clientside_notes.js"></script>
<script src="js/clientside_agenda.js"></script>
<script src="js/clientside_qna.js"></script>
<script src="js/clientside_profile.js"></script>
<script src="js/wisdom-twitter-client.js"></script>
<script src="js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code
.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/css/style.css">
<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome/css/font-awesome.css">

<script>

wisdom = {
	global : {
		sesssionid: "666"
	},
	user : {
		userId : '<%= user.userId %>',
		'firstName' : '<%= user.firstName %>',
		'lastName' : '<%= user.lastName %>',
		profileImageUrl : '<%= user.profilePic %>'
	},
	talk : {
		talkId : '883nnew39231nn321',
		talkTitle : 'Waste Management in Urban settings.',
		startTime : 1375763389,
		status : 'LIVE',
		info : {
			numSpeakers : 3 
		}
	}
};

var socket = io.connect('https://live.wisdom.ly');
//var socket = io.connect('http://localhost:8002');

var newChat = ChatClient();
newChat.init(socket, wisdom);

var notebook = NoteClient();
notebook.init(socket)

var agenda = AgendaClient();
agenda.init(socket);

var twit = TwitterClient();
twit.init(socket, $);

var QnAModule = QnAClient();
QnAModule.initialize(socket,wisdom.global.sessionid,wisdom.global.userid,wisdom.user.firstName,renderQnA);

var profile = ProfileClient();
profile.init(socket);

var USER_UPDATE = "wprofile-user-update";
/*socket.on('connect', function() {
	
});*/
socket.on('connect', function() {
	console.log('hola');
	socket.emit(USER_UPDATE, wisdom.user);
});


$(function(){
	// subscribe on page load.
	twit.subscribe();
		/**
		var dynamo = function() {
		var windowWidth = $(window).width();
		var leftBarWidth = $('#leftBar').css({'width'});
		var rightBarWidth = $('#rightBar').css({'width'});
		var videoWidth = $('#video').css({'width'});
		if(windowWidth < 1279) {

		};
	};*/

	$('#spectators-tab1').click( function(){
	if($('#spectators1').css('display') === 'none'){
		$('#information1').css({'display':'none'});
		$('#spectators1').css({'display':'block'});		
	}

});

$('#information-tab1').click( function(){
	if($('#information1').css('display') === 'none'){
		$('#spectators1').css({'display':'none'});
		$('#information1').css({'display':'block'});		
	}

});

	$('#currentTopic').hover( function() {
		if($('#agenda').css('display') === 'none') {
			$('#agenda').css({'display':'block'});
		}
		else {
			$('#agenda').css({'display': 'none'});
		};
	});

	$('#agenda').hover( function() {
		if($('#agenda').css('display') === 'none') {
			$('#agenda').css({'display':'block'});
		}
		else {
			$('#agenda').css({'display': 'none'});
		};

	})

		/*$('.agenda-item').click( function() {
			var topicId = this.id;
			alert(topicId);	
			//agenda.changeMainTopic(thisItem);
		});*/

$('#chat-tab').click( function() {
	if($('#chatroom').css('display') === 'none' ) {
		$('#chat-tab').css({'opacity':'1'});
		$('#qa').css({'display':'none'});
		$('#chatroom').css({'display':'block'});
		$('#newquestionbox').css({'display' : 'none'
	});
		$('#submitnewquestion').css({'display' : 'none'
	});
		$('#qa-tab').css({'opacity':'.5'});

	}
});

$('#qa-tab').click( function() {
	if($('#qa').css('display') === 'none') {
		$('#qa-tab').css({'opacity':'1'});
		$('#chatroom').css({'display':'none'});
		$('#qa').css({'display':'block'});
		$('#newquestionbox').css({'display' : 'block'
	});
		$('#submitnewquestion').css({'display' : 'block'
	});
		$('#chat-tab').css({'opacity':'.5'});
	}
});

$('#spectators-tab').click( function(){
	if($('#spectators').css('display') === 'none'){
		$('#information').css({'display':'none'});
		$('#spectators').css({'display':'block'});		
	}

});

$('#information-tab').click( function(){
	if($('#information').css('display') === 'none'){
		$('#spectators').css({'display':'none'});
		$('#information').css({'display':'block'});		
	}

});



		// when the client clicks SEND
		$('#enterchat').click( function() {
			var message = $('#chatdata').val();
			$('#chatdata').val('');
			// tell server to execute 'sendchat' and send along message as parameter
			console.log("wisdom : " +  JSON.stringify(wisdom));
			var data = {
				firstName : wisdom.user.firstName,
				payload : message
			}
			console.log('this data is ' + JSON.stringify(data));
			newChat.sendMessage(data);
		});

		// when the client hits ENTER on their keyboard
		$('#enterchat').keypress(function(e) {
			if(e.which == 13) {
				$(this).blur();
				$('#chatdata').focus().click();
			}
		});

		//send and save notes after 5 second after user stops typing
		//5 second timer doesn't work...
		var stoppedTyping;
		$('#notesarea').keypress(function() {
			var notes = $('#notesarea').val();
			if (stoppedTyping) clearTimeout(stoppedTyping);

			stoppedTyping = setTimeout(notebook.updateNotes(notes), 5000);
		});

	});

// Twitter updateTweet overloading.

twit.updateTweet = function(tweet) {
	if(tweet.hasOwnProperty('text') && 
		tweet.hasOwnProperty('user') &&
		tweet['user'].hasOwnProperty('screen_name')) {
	var htm = 
	'<div class="twitterMessageBox"> <div style="width:80%;float:left;">' + 
	'<div class="twitterMessage" style="">"' + tweet.text +
	' "</div> <div class="twitterName">@' + tweet.user.screen_name +
	'</div> </div> <div class="twitterIcon" style="width:30px;">' + 
    '<i class="icon-twitter" style="text-decoration: none;">' + 
    '</i></div></div>';
/*
	var htm = "<div class='tweet'><table><tr><td><img src='https://abs.twimg.com/a/1375952549/images/resources/twitter-bird-white-on-blue.png' height=25px width=25px></td><td width='100%'>" + tweet.text + "</td></tr></table></div>";
	*/
	$("#conversation").append(htm);
	}
}

newChat.joinChat = function(chatlog) {
	for(var i = 0; i < chatlog.length; i++) {
		$('#conversation').append('<div class=\'chatmessagebox\'><div class=\'chatname\'>' + chatlog[i].username + '</div><div class=\'chatmessage\'>' + chatlog[i].messageData + '</div></div>');

	}
};
newChat.displayChat = function(username, message) {
	$('#conversation').append('<div class=\'chatmessagebox\'><div class=\'chatname\'>' + username + '</div><div class=\'chatmessage\'>' + message + '</div></div>');
};

notebook.clientNoteStamp = function() {
	$('#timestamp').text("Saved.");
	setTimeout(function() {
		$('#timestamp').text("Saved less than a minute ago.")
	}, 10000);
	setTimeout(function() {
		$('#timestamp').text("Saved about a minute ago.")
	}, 60000);
	setTimeout(function() {
		$('#timestamp').text("Saved more than 2 minutes ago")
	}, 120000);

};
/*agenda.createAgenda = function(topics) {
	for(var i = 0; i < topics.length; i++) {
		console.log(topics[i]);
		$('#agenda').append("<li id=\'agenda-li" + i + "\'class='agenda-item'></li>");
		$('#agenda-li' + i).append("<div id=\'topic" + i + "\'>" + topics[i] + "<div id=\'switch" + i + "\' class='switch'></div></div");
	}
};
*/
agenda.changeTopic = function(topicId) {
	var topic = $(topicId).val();
	$('currentTopic').val(topic);
	$(topicId).css({'background-color':'purple'});

};
profile.updateSpectators = function(users) {
	console.log(users);
	for(var i = 0; i < users.length; i++) {
		if($('#' + users[i].userId).length === 0) {
		$('#spectatorsList').prepend('<a href=><li id=\'' + users[i].userId + '\'><img src=\'' + users[i].profileImageUrl + '\'/></a><div id=\'spectatorName\'>' + users[i].firstName + ' ' + users[i].lastName + '</div><a href=\'' + users[i].linkedinUrl + '\'><div id=\'spectatorSocial\'></div></a>');
	}

		/**$('#spectatorsList').append('<li><img src=\'' + users[i].profileImageUrl + '\'/><div id=\'spectatorName\'>' + users[i].firstName + ' ' + users[i].lastName + '</div><a href=\'' + spectatorSocial + '\' + users[i].linkedinUrl + '\'><div id=\'' + spectatorSocial + '\'></div></a>' );*/
	}

};

profile.newSpectator = function(userData) {
	if($('#' + userData.userId).length === 0) {
	$('#spectatorsList').prepend('<li id=\'' + userData.userId + '\'><a><img src=\'' + userData.profileImageUrl + '\'/></a><div id=\'spectatorName\'>' + userData.firstName + ' ' + userData.lastName + '</div><a href=\'' + userData.linkedinUrl + '\'><div id=\'spectatorSocial\'></div></a>');
}
};

profile.spectatorLeft = function(userId) {
	$('#' + userId).remove();
};

</script>
<html>
<head>
	<title>Wastewise</title>
</head>

<body>
	<div id='main-container' class='backgroundClass'>
		<div id='header'>
			<div id='hostLogo'></div>
			<h1>WasteWise Roundtable</h1>
		</div>

		<div id='leftBar' class='backgroundClass'>
			<div id='agenda-tab' class='tabs-schema'>
				<i class="icon-list" ></i> AGENDA
			</div>

			<div id='thisAgenda' class='backgroundClass'>
				<div id='currentTopic'>1. Introduction to Wecyclers and TerraCycle</div>
			</div>

			<ul id='agenda'>
				<li class='agenda-item'><i class="icon-caret-right"></i><b>1. Introduction to Wecyclers and TerraCycle</b></li>
				<li class='agenda-item'><i class="icon-caret-right"></i>2. Biggest Challenges for Solid Waste Management</li>
				<li class='agenda-item'><i class="icon-caret-right"></i>3. Finding Strategic Partners</li>
				<li class='agenda-item'><i class="icon-caret-right"></i>4. Obtaining Municipality Involvement</li>
				<li class='agenda-item'><i class="icon-caret-right"></i>5. Engaging Citizens to Get Involved</li>
				<li class='agenda-item'><i class="icon-caret-right"></i>6. Audience QnA</li>
			</ul>

			<div id='notes-tab' class='tabs-schema'>
				<span class='tab-text'>
					<i class="icon-file-text-alt"></i>	NOTES
				</span>
				
			</div>

			<div id='notes'>
				<textarea id='notesarea'></textarea>
				<!--<span id='timestamp'></span>-->
			</div>

		</div>

		<div id='video'>
			<iframe width="560" height="315" src="//www.youtube.com/embed/YcxmpE0QoH8" frameborder="0" allowfullscreen></iframe>
		</div>

		<div id='rightBar' class='backgroundClass'>
			<div id='qa-tab' class='tabs-schema'>
				<i class="icon-question-sign"></i> Q&A
			</div>
			<div id='chat-tab' class='tabs-schema'>
				<i class="icon-comments"></i> CHAT
			</div>

			<div id='chatroom'>
				<div id='conversation'>
					<div class="chatmessagebox">
					</div>

				</div>
				<div class='inputComponent'>
				<input id='chatdata' value="Submit a Message" onFocus="this.value=''"/>
				<input id='enterchat' type='button' value='SEND' />
				</div>
			</div>
			<div id='qa'>
				<div id="questionDiv"></div>
			</div>
			<div class='inputComponent'>
				<input type="text" id="newquestionbox" value="Ask a question?" onFocus="this.value=''"  />
				<input type="button" id='submitnewquestion' value="ASK" onclick='proposeQuestion();'/><br>
			</div>
		</div>

		<div id='timer' class='tabs-schema'>01:59:00</div>

		<div id='bottomBar1'>
			<div id='bottomBarNav1'>
				<div id='information-tab1' class='tabs-schema'><i class="icon-info-sign"></i> Information</div>
				<div id='spectators-tab1' class='tabs-schema'><i class="icon-group"></i>Spectators</div>
			</div>

			<div id='panelists1'>



	<div class="spectatorPanel"  style="margin-right:0px;">
			<center>
				<div class="spectatorName">Tom Szaky</div>
				<div class="avatar" id="avatar-tom"></div>	
				<div class="spectatorTitle">Panelist</div>	
				<div class="spectatorSocial">
					<a href="http://www.linkedin.com/pub/tom-szaky/1/9a4/237?trk=cws-ppw-member-0-0"><i class="icon-linkedin-sign" style="text-decoration: none;"></i></a>
					<a href="#"><i class="icon-twitter-sign" style="text-decoration: none;"></i></a>
					<a href="#"><i class="icon-facebook-sign" style="text-decoration: none;"></i></a>
				</div>
	    	</center>
		</div>


	<div class="panelBio"  style="margin-left:0px;">
		<div class="discussionText">Tom Szaky is the CEO and Founder of TerraCycle, which is an international upcycling and recycling company that collects difficult-to-recycle packaging and products and repurposes the material into affordable, innovative products. </div> 
	</div>
	
	<div class="spectatorPanel" style="margin-right:0px;">
			<center>
				
				<div class="spectatorName">Bilikiss Adebiyi</div>
				<div class="avatar" id="avatar-adebiyi"></div>	
				<div class="spectatorTitle">Panelist</div>	
				<div class="spectatorSocial">
					<a href="ttp://ng.linkedin.com/pub/bilikiss-adebiyi/23/157/309?trk=cws-ppw-member-0-0	"><i class="icon-linkedin-sign" style="text-decoration: none;"></i></a>
					<a href="#"><i class="icon-twitter-sign" style="text-decoration: none;"></i></a>
					<a href="#"><i class="icon-facebook-sign" style="text-decoration: none;"></i></a>
				</div>
	    	</center>
		</div>

	<div class="panelBio" style="margin-left:0px;">
		<div class="discussionText">Bilikiss Adebiyi is the CEO and Co-founder of Wecyclers, a social enterprise which leverages low-cost, scalable, easily adaptable technology to collect recyclable waste at the household level.</div> 
	</div>
	
	<div class="spectatorPanel"  style="margin-right:0px;">
			<center>
				<div class="spectatorName">Priti Ambani</div>
				<div class="avatar" id="avatar-ambani"></div>	
				<div class="spectatorTitle">Moderator</div>	
				<div class="spectatorSocial">
					<a href="http://ng.linkedin.com/pub/bilikiss-adebiyi/23/157/309?trk=cws-ppw-member-0-0	"><i class="icon-linkedin-sign" style="text-decoration: none;"></i></a>
					<a href="#"><i class="icon-twitter-sign" style="text-decoration: none;"></i></a>
					<a href="#"><i class="icon-facebook-sign" style="text-decoration: none;"></i></a>
				</div>
	    	</center>
		</div>

	<div class="panelBio"  style="margin-left:0px;">
		<div class="discussionText">Priti Ambani is the Managing Editor of Ecopreneurist.com which offers advice, tools and case studies to social entrepreneurs, startups, and environmental enterprises to help them start, run and grow their businesses.</div> 
	</div>
	
</div>

			<div id='spectators1'>
				<ul id='spectatorsList'>
				</ul>
			</div>
			<div id='information1'>
	<div class="wastewiseInfo">
		<div class="wastewiseTitle">WasteWise</div>
		<div class="wastewiseText">
			Waste Wise is a simple idea: Use 21st century tools to share expertise globally, opening up high-quality, leading edge thinking to those who have not had access to this expertise, while also eliminating the environmental and financial costs of global conferences. Waste Wise will conduct online video panels with experts from across the waste spectrum using Google+ Hangouts, broadcast them live, and then publish content for ready use by decision makers, policy analysts, experts and advocates.
		</div>
	</div>

	<div class="discussionInfo">
		<div class="discussionTitle">Roundtable Background</div>
		<div class="discussionText">
			Priti Ambani (Managing Editor of Ecopreneurist) moderates a discussion with the Founder of TerraCycle (Tom Szaky) and Co-Founder ofWecyclers (Bilikiss Adebiyi) about Entrepreneurship in solid waste management. 
		</div>
	</div>
	

	
	
	<div id="bottomAgenda">
		<div class="panelTitle">Agenda</div>
		<div id="bottomAgendaText">
			<div class="bullet">
				<i class="icon-caret-right"></i>
				Introduction to Wecyclers and TerraCycle
			</div>
			<div class="bullet">
				<i class="icon-caret-right"></i>
				Biggest Challenges for Solid Waste Management
			</div>
			<div class="bullet">
				<i class="icon-caret-right"></i>
				Finding Strategic Partners
			</div>
			<div class="bullet">
				<i class="icon-caret-right"></i>
				Obtaining Municipality Involvement
			</div> 
			<div class="bullet">
				<i class="icon-caret-right"></i>
				Engaging Citizens to Get Involved
			</div> 
			<div class="bullet">
				<i class="icon-caret-right"></i>
				Audience Q&A
			</div> 
		</div>
	</div>

	<div id="resources">
		<div class="panelTitle">Resources</div>
        <div id="#bottomResourcesText" style="margin-top: 5px;">
			<div class="bullet">
				<i class="icon-link"></i>
				Terracycle.com
			</div>
			<div class="bullet">
				<i class="icon-link"></i>
				Wecyclers.com
			</div>
			<div class="bullet">
				<i class="icon-link"></i>
				Ecopreneurist.com
			</div>
		</div>
	</div>

</div>



		</div>


		<!--<div id='bottomBar' class='backgroundClass'>
			<div id='spectators-tab' class='tabs-schema'>
				Spectators
			</div>
			<div id='information-tab' class='tabs-schema'>
				<i class="icon-file-text-alt"></i> Information
			</div>
			<div id='bottom-bar-filler'x></div>
			<div id='information'>

				<p>WHOO INFORMATION!</p>

			</div>
			<div id='spectators'>
				<p>WHOOO SPECTATORS</p>

			</div>
		</div>-->
	</div>
</body>

</html>
