<!--<script src="http://ec2-54-218-74-52.us-west-2.compute.amazonaws.com:8002/socket.io/socket.io.js"></script>-->
<script src="/socket.io/socket.io.js"></script>
<script src="js/clientside_groupchat.js"></script>
<script src="js/clientside_notes.js"></script>
<script src="js/clientside_agenda.js"></script>
<script src="js/clientside_qna.js"></script>
<script src="js/clientside_profile.js"></script>
<script src="js/wisdom-twitter-client.js"></script>
<script src="js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code
.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/css/style.css">
<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome/css/font-awesome.css">

<script>

wisdom = {
	global : {
		userid : '<%= user._json.emailAddress %>',
		sesssionid: "666"
	},
	user : {
		userId : '<%= user.id %>',
		firstName : '<%= user.name.givenName %>',
		lastName : '<%= user.name.familyName %>',
		email : '<%= user._json.emailAddress %>',
		profileImageUrl : '<%= user._json.pictureUrl %>',
		bio : "<%= user._json.headline %>",
		linkedinUrl : 'http://www.linkedin.com/pub/mukund-jha/13/964/a15'
	},
	talk : {
		talkId : '883nnew39231nn321',
		talkTitle : 'Waste Management in Urban settings.',
		startTime : 1375763389,
		status : 'LIVE',
		info : {
			numSpeakers : 3 
		}
	}
};

//var socket = io.connect('http://ec2-54-218-74-52.us-west-2.compute.amazonaws.com:8002');
var socket = io.connect('http://localhost:8002');

var newChat = ChatClient();
newChat.init(socket, wisdom);

var notebook = NoteClient();
notebook.init(socket)

var agenda = AgendaClient();
agenda.init(socket);

var twit = TwitterClient();
twit.init(socket, $);

var QnAModule = QnAClient();
QnAModule.initialize(socket,wisdom.global.sessionid,wisdom.global.userid,wisdom.user.firstName + " " + wisdom.user.lastName,renderQnA);

var profile = ProfileClient();
profile.init(socket);

var USER_UPDATE = "wprofile-user-update";
/*socket.on('connect', function() {
	
});*/
socket.on('connect', function() {
	socket.emit(USER_UPDATE, wisdom.user);
});


$(function(){
	// subscribe on page load.
	twit.subscribe();
		/**
		var dynamo = function() {
		var windowWidth = $(window).width();
		var leftBarWidth = $('#leftBar').css({'width'});
		var rightBarWidth = $('#rightBar').css({'width'});
		var videoWidth = $('#video').css({'width'});
		if(windowWidth < 1279) {

		};
	};*/

	$('#spectators-tab1').click( function(){
	if($('#spectators1').css('display') === 'none'){
		$('#information1').css({'display':'none'});
		$('#spectators1').css({'display':'block'});		
	}

});

$('#information-tab1').click( function(){
	if($('#information1').css('display') === 'none'){
		$('#spectators1').css({'display':'none'});
		$('#information1').css({'display':'block'});		
	}

});

	$('#currentTopic').hover( function() {
		if($('#agenda').css('display') === 'none') {
			$('#agenda').css({'display':'block'});
		}
		else {
			$('#agenda').css({'display': 'none'});
		};
	});

	$('#agenda').hover( function() {
		if($('#agenda').css('display') === 'none') {
			$('#agenda').css({'display':'block'});
		}
		else {
			$('#agenda').css({'display': 'none'});
		};

	})

		/*$('.agenda-item').click( function() {
			var topicId = this.id;
			alert(topicId);	
			//agenda.changeMainTopic(thisItem);
		});*/

$('#chat-tab').click( function() {
	if($('#chatroom').css('display') === 'none' ) {
		$('#chat-tab').css({'opacity':'1'});
		$('#qa').css({'display':'none'});
		$('#chatroom').css({'display':'block'});
		$('#newquestionbox').css({'display' : 'none'
	});
		$('#submitnewquestion').css({'display' : 'none'
	});
		$('#qa-tab').css({'opacity':'.5'});

	}
});

$('#qa-tab').click( function() {
	if($('#qa').css('display') === 'none') {
		$('#qa-tab').css({'opacity':'1'});
		$('#chatroom').css({'display':'none'});
		$('#qa').css({'display':'block'});
		$('#newquestionbox').css({'display' : 'block'
	});
		$('#submitnewquestion').css({'display' : 'block'
	});
		$('#chat-tab').css({'opacity':'.5'});
	}
});

$('#spectators-tab').click( function(){
	if($('#spectators').css('display') === 'none'){
		$('#information').css({'display':'none'});
		$('#spectators').css({'display':'block'});		
	}

});

$('#information-tab').click( function(){
	if($('#information').css('display') === 'none'){
		$('#spectators').css({'display':'none'});
		$('#information').css({'display':'block'});		
	}

});



		// when the client clicks SEND
		$('#enterchat').click( function() {
			var message = $('#chatdata').val();
			$('#chatdata').val('');
			// tell server to execute 'sendchat' and send along message as parameter
			console.log("wisdom : " +  JSON.stringify(wisdom));
			var data = {
				firstName : wisdom.user.firstName,
				payload : message
			}
			console.log('this data is ' + JSON.stringify(data));
			newChat.sendMessage(data);
		});

		// when the client hits ENTER on their keyboard
		$('#enterchat').keypress(function(e) {
			if(e.which == 13) {
				$(this).blur();
				$('#chatdata').focus().click();
			}
		});

		//send and save notes after 5 second after user stops typing
		//5 second timer doesn't work...
		var stoppedTyping;
		$('#notesarea').keypress(function() {
			var notes = $('#notesarea').val();
			if (stoppedTyping) clearTimeout(stoppedTyping);

			stoppedTyping = setTimeout(notebook.updateNotes(notes), 5000);
		});

	});

// Twitter updateTweet overloading.

twit.updateTweet = function(tweet) {
	var htm = "<div class='tweet'><img src='https://abs.twimg.com/a/1375952549/images/resources/twitter-bird-white-on-blue.png' height=10px width=10px> " + tweet.text + "</div>";
	$("#conversation").append(htm);
}

newChat.joinChat = function(chatlog) {
	for(var i = 0; i < chatlog.length; i++) {
		$('#conversation').append('<b>'+ chatlog[i].username + ':</b> ' + chatlog[i].messageData + '<br>');
	}
};
newChat.displayChat = function(username, message) {
	$('#conversation').append('<b>'+ username + ':</b> ' + message + '<br>');
};

notebook.clientNoteStamp = function() {
	$('#timestamp').text("Saved.");
	setTimeout(function() {
		$('#timestamp').text("Saved less than a minute ago.")
	}, 10000);
	setTimeout(function() {
		$('#timestamp').text("Saved about a minute ago.")
	}, 60000);
	setTimeout(function() {
		$('#timestamp').text("Saved more than 2 minutes ago")
	}, 120000);

};
/*agenda.createAgenda = function(topics) {
	for(var i = 0; i < topics.length; i++) {
		console.log(topics[i]);
		$('#agenda').append("<li id=\'agenda-li" + i + "\'class='agenda-item'></li>");
		$('#agenda-li' + i).append("<div id=\'topic" + i + "\'>" + topics[i] + "<div id=\'switch" + i + "\' class='switch'></div></div");
	}
};
*/
agenda.changeTopic = function(topicId) {
	var topic = $(topicId).val();
	$('currentTopic').val(topic);
	$(topicId).css({'background-color':'purple'});

};
profile.updateSpectators = function(users) {
	console.log(users);
	for(var i = 0; i < users.length; i++) {
		$('#spectatorsList').append('<li id=\'' + users[i].userId + '\'><img src=\'' + users[i].profileImageUrl + '\'/><div id=\'spectatorName\'>' + users[i].firstName + ' ' + users[i].lastName + '</div><a href=\'' + users[i].linkedinUrl + '\'><div id=\'spectatorSocial\'></div></a>');

		/**$('#spectatorsList').append('<li><img src=\'' + users[i].profileImageUrl + '\'/><div id=\'spectatorName\'>' + users[i].firstName + ' ' + users[i].lastName + '</div><a href=\'' + spectatorSocial + '\' + users[i].linkedinUrl + '\'><div id=\'' + spectatorSocial + '\'></div></a>' );*/
	}

};

profile.newSpectator = function(userData) {
	console.log('step 4 adding new user to everyones screen :' + JSON.stringify(userData));
	$('#spectatorsList').append('<li id=\'' + userData.userId + '\'><img src=\'' + userData.profileImageUrl + '\'/><div id=\'spectatorName\'>' + userData.firstName + ' ' + userData.lastName + '</div><a href=\'' + userData.linkedinUrl + '\'><div id=\'spectatorSocial\'></div></a>');
};

profile.spectatorLeft = function(userId) {
	$('#spectatorsList').remove('#' + userId);
};

</script>
<html>
<head>
	<title>Wastewise</title>
</head>

<body>
	<div id='main-container' class='backgroundClass'>
		<div id='header'>
			<div id='hostLogo'></div>
			<h1>WasteWise Roundtable</h1>
		</div>

		<div id='leftBar' class='backgroundClass'>
			<div id='agenda-tab' class='tabs-schema'>
				<i class="icon-list" ></i> AGENDA
			</div>

			<div id='thisAgenda' class='backgroundClass'>
				<div id='currentTopic'>1. Wastewise Challenge</div>
			</div>

			<ul id='agenda'>
				<li class='agenda-item'><b>1. Wastewise Challenge</b></li>
				<li class='agenda-item'>2. Whats'up?</li>
				<li class='agenda-item'>3. kevin</li>
			</ul>

			<div id='notes-tab' class='tabs-schema'>
				<span class='tab-text'>
					<i class="icon-list"></i>	NOTES
				</span>
				<br />
			</div>

			<div id='notes'>
				<textarea id='notesarea'></textarea>
				<!--<span id='timestamp'></span>-->
			</div>

		</div>

		<div id='video'>
			<iframe width="560" height="315" src="//www.youtube.com/embed/YcxmpE0QoH8" frameborder="0" allowfullscreen></iframe>
		</div>

		<div id='rightBar' class='backgroundClass'>
			<div id='qa-tab' class='tabs-schema'>
				<i class="icon-info-sign"></i> Q&A
			</div>
			<div id='chat-tab' class='tabs-schema'>
				<i class="icon-comments"></i> CHAT
			</div>

			<div id='chatroom'>
				<div id='conversation'></div>
				<div class='inputComponent'>
				<input id='chatdata' />
				<input id='enterchat' type='button' value='SEND' />
				</div>
			</div>
			<div id='qa'>
				<div id="questionDiv"></div>
			</div>
			<div class='inputComponent'>
				<input type="text" id="newquestionbox"  />
				<input type="button" id='submitnewquestion' value="ASK" onclick='proposeQuestion();'/><br>
			</div>
		</div>

		<div id='timer' class='tabs-schema'>01:59:00</div>

		<div id='bottomBar1'>
			<div id='bottomBarNav1'>
				<div id='spectators-tab1' class='tabs-schema'>Spectators</div>
				<div id='information-tab1' class='tabs-schema'>Information</div>
			</div>

			<div id='spectators1'>
				<ul id='spectatorsList'>
					<li>
						<img src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-2.jpg' height='80px' width='80px'/>
						<div id='spectatorName'>Colonial Clone</div>
						<div id='spectatorSocial'></div> </li>
				</ul>
			</div>
			<div id='information1'></div>



		</div>


		<!--<div id='bottomBar' class='backgroundClass'>
			<div id='spectators-tab' class='tabs-schema'>
				Spectators
			</div>
			<div id='information-tab' class='tabs-schema'>
				<i class="icon-file-text-alt"></i> Information
			</div>
			<div id='bottom-bar-filler'x></div>
			<div id='information'>

				<p>WHOO INFORMATION!</p>

			</div>
			<div id='spectators'>
				<p>WHOOO SPECTATORS</p>

			</div>
		</div>-->
	</div>
</body>

</html>
