<!--<script src="http://ec2-54-218-74-52.us-west-2.compute.amazonaws.com:8002/socket.io/socket.io.js"></script>-->
<script src="/socket.io/socket.io.js"></script>
<script src="js/clientside_groupchat.js"></script>
<script src="js/clientside_notes.js"></script>
<script src="js/clientside_agenda.js"></script>
<!--<script src="js/clientside_qna.js"></script>-->
<script src="js/clientside_profile.js"></script>
<script src="js/wisdom-twitter-client.js"></script>
<script src="js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code
.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/css/style1.css">
<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome/css/font-awesome.css">

<script>


wisdom = {
	global : {
		
		sesssionid: "666"
	},
	user : {
		userId : '<%= user.userId %>',
		'firstName' : '<%= user.firstName %>',
		'lastName' : '<%= user.lastName %>',
		'email' : '<%= user.email %>',
		profileImageUrl : '<%= user.profilePic %>'
	},
	talk : {
		talkId : '883nnew39231nn321',
		talkTitle : 'Waste Management in Urban settings.',
		startTime : 1375763389,
		status : 'LIVE',
		info : {
			numSpeakers : 3 
		}
	}
};



//var socket = io.connect('http://ec2-54-218-74-52.us-west-2.compute.amazonaws.com:8002');
var socket = io.connect('http://127.0.0.1:8002');

var newChat = ChatClient();
newChat.init(socket, wisdom);

var notebook = NoteClient();
notebook.init(socket)

var agenda = AgendaClient();
agenda.init(socket);

var twit = TwitterClient();
twit.init(socket, $);

/*var QnAModule = QnAClient();
QnAModule.initialize(socket,wisdom.global.sessionid,wisdom.global.userid,wisdom.user.firstName,renderQnA);
*/
var profile = ProfileClient();
profile.init(socket);

var USER_UPDATE = "wprofile-user-update";
/*socket.on('connect', function() {
	
});*/
socket.on('connect', function() {
	socket.emit(USER_UPDATE, wisdom.user);
});


$(function(){
	// subscribe on page load.
	twit.subscribe();
		/**
		var dynamo = function() {
		var windowWidth = $(window).width();
		var leftBarWidth = $('#leftBar').css({'width'});
		var rightBarWidth = $('#rightBar').css({'width'});
		var videoWidth = $('#video').css({'width'});
		if(windowWidth < 1279) {

		};
	};*/

$('#spectators-tab1').click( function(){
	if($('#spectators1').css('display') === 'none'){
		$('#information1').css({'display':'none'});
		$('#panelists').css({'display':'none'});
		$('#spectators1').css({'display':'block'});		
	}

});

$('#information-tab1').click( function(){
	if($('#information1').css('display') === 'none'){
		$('#spectators1').css({'display':'none'});
		$('#panelists').css({'display':'none'});
		$('#information1').css({'display':'block'});		
	}

});

$('#panelists-tab1').click( function(){
	if($('#panelists').css('display') === 'none'){
		$('#spectators1').css({'display':'none'});
		$('#information1').css({'display':'none'});
		$('#panelists').css({'display':'block'});		
	}

});

	$('#currentTopic').hover( function() {
		if($('#agenda').css('display') === 'none') {
			$('#agenda').css({'display':'block'});
		}
		else {
			$('#agenda').css({'display': 'none'});
		};
	});

	$('#agenda').hover( function() {
		if($('#agenda').css('display') === 'none') {
			$('#agenda').css({'display':'block'});
		}
		else {
			$('#agenda').css({'display': 'none'});
		};

	})

		/*$('.agenda-item').click( function() {
			var topicId = this.id;
			alert(topicId);	
			//agenda.changeMainTopic(thisItem);
		});*/

$('#chat-tab').click( function() {
	if($('#chatroom').css('display') === 'none' ) {
		$('#chat-tab').css({'opacity':'1'});
		$('#qa').css({'display':'none'});
		$('#chatroom').css({'display':'block'});
		$('#newquestionbox').css({'display' : 'none'
	});
		$('#submitnewquestion').css({'display' : 'none'
	});
		$('#qa-tab').css({'opacity':'.5'});

	}
});

$('#qa-tab').click( function() {
	if($('#qa').css('display') === 'none') {
		$('#qa-tab').css({'opacity':'1'});
		$('#chatroom').css({'display':'none'});
		$('#qa').css({'display':'block'});
		$('#newquestionbox').css({'display' : 'block'
	});
		$('#submitnewquestion').css({'display' : 'block'
	});
		$('#chat-tab').css({'opacity':'.5'});
	}
});

$('#spectators-tab').click( function(){
	if($('#spectators').css('display') === 'none'){
		$('#information').css({'display':'none'});
		$('#spectators').css({'display':'block'});		
	}

});

$('#information-tab').click( function(){
	if($('#information').css('display') === 'none'){
		$('#spectators').css({'display':'none'});
		$('#information').css({'display':'block'});		
	}

});





		// when the client clicks SEND
		$('#enterchat').click( function() {
			var message = $('#chatdata').val();
			$('#chatdata').val('');
			// tell server to execute 'sendchat' and send along message as parameter
			console.log("wisdom : " +  JSON.stringify(wisdom));
			var data = {
				firstName : wisdom.user.firstName,
				payload : message
			}
			console.log('this data is ' + JSON.stringify(data));
			newChat.sendMessage(data);
		});

		// when the client hits ENTER on their keyboard
		$('#enterchat').keypress(function(e) {
			if(e.which == 13) {
				$(this).blur();
				$('#chatdata').focus().click();
			}
		});
		// when client first clicks on chat box, remove value
		var ifClicked = false;
		$('#chatdata').click(function() {
			if(ifClicked === false) {
				ifClicked = true;
				$('#chatdata').val('');
			}
		});

		//send and save notes after 5 second after user stops typing
		//5 second timer doesn't work...
		var stoppedTyping;
		$('#notesarea').keypress(function() {
			var notes = $('#notesarea').val();
			if (stoppedTyping) clearTimeout(stoppedTyping);

			stoppedTyping = setTimeout(notebook.updateNotes(notes), 5000);
		});

	});

// Twitter updateTweet overloading.

twit.updateTweet = function(tweet) {
	if(tweet.hasOwnProperty('text') && 
		tweet.hasOwnProperty('user') &&
		tweet['user'].hasOwnProperty('screen_name')) {
	var htm = 
	'<div class="twitterMessageBox"> <div style="width:80%;float:left;">' + 
	'<div class="twitterMessage" style="">"' + tweet.text +
	' "</div> <div class="twitterName">@' + tweet.user.screen_name +
	'</div> </div> <div class="twitterIcon" style="width:30px;">' + 
    '<i class="icon-twitter" style="text-decoration: none;">' + 
    '</i></div></div>';
/*
	var htm = "<div class='tweet'><table><tr><td><img src='https://abs.twimg.com/a/1375952549/images/resources/twitter-bird-white-on-blue.png' height=25px width=25px></td><td width='100%'>" + tweet.text + "</td></tr></table></div>";
	*/
	$("#conversation").append(htm);
	}
}

newChat.joinChat = function(chatlog) {
	for(var i = 0; i < chatlog.length; i++) {
		$('#conversation').append('<div class=\'chatmessagebox\'><div class=\'chatname\'>' + chatlog[i].username + '</div><div class=\'chatmessage\'>' + chatlog[i].messageData + '</div></div>');

	}
};
newChat.displayChat = function(username, message) {
	$('#conversation').append('<div class=\'chatMessageBox\'><div class=\'chatName\'>' + username + '</div><div class=\'chatMessage\'>' + message + '</div></div>');
};

notebook.clientNoteStamp = function() {
	$('#timestamp').text("Saved.");
	setTimeout(function() {
		$('#timestamp').text("Saved less than a minute ago.")
	}, 10000);
	setTimeout(function() {
		$('#timestamp').text("Saved about a minute ago.")
	}, 60000);
	setTimeout(function() {
		$('#timestamp').text("Saved more than 2 minutes ago")
	}, 120000);

};
/*agenda.createAgenda = function(topics) {
	for(var i = 0; i < topics.length; i++) {
		console.log(topics[i]);
		$('#agenda').append("<li id=\'agenda-li" + i + "\'class='agenda-item'></li>");
		$('#agenda-li' + i).append("<div id=\'topic" + i + "\'>" + topics[i] + "<div id=\'switch" + i + "\' class='switch'></div></div");
	}
};
*/
agenda.changeTopic = function(topicId) {
	var topic = $(topicId).val();
	$('currentTopic').val(topic);
	$(topicId).css({'background-color':'purple'});

};
profile.updateSpectators = function(users) {
	for(var i = 0; i < users.length; i++) {
		if($("#" + userData.userId).length == 0) {
		$('#spectatorsList').prepend('<a href=><li id=\'' + users[i].userId + '\'><img src=\'' + users[i].profileImageUrl + '\'/></a><div id=\'spectatorName\'>' + users[i].firstName + ' ' + users[i].lastName + '</div><a href=\'' + users[i].linkedinUrl + '\'><div id=\'spectatorSocial\'></div></a>');
	};

		/**$('#spectatorsList').append('<li><img src=\'' + users[i].profileImageUrl + '\'/><div id=\'spectatorName\'>' + users[i].firstName + ' ' + users[i].lastName + '</div><a href=\'' + spectatorSocial + '\' + users[i].linkedinUrl + '\'><div id=\'' + spectatorSocial + '\'></div></a>' );*/
	}

};

profile.newSpectator = function(userData) {
	if($("#" + userData.userId).length == 0) {
	$('#spectatorsList').prepend('<li id=\'' + userData.userId + '\'><a><img src=\'' + userData.profileImageUrl + '\'/></a><div id=\'spectatorName\'>' + userData.firstName + ' ' + userData.lastName + '</div><a href=\'' + userData.linkedinUrl + '\'><div id=\'spectatorSocial\'></div></a>');
};
};



profile.spectatorLeft = function(userId) {
	$('#' + userId).remove();
};

</script>
<html>
<head>
	<title>Wastewise</title>
</head>

<body>
	<div id='main-container' class='backgroundClass'>
		<div id='header'>
			<div id='hostLogo'>
				<img src="images/wastewiselogo.png"/>
			</div>
			<h1>WasteWise Roundtable</h1>
		</div>

		<div id='leftBar' class='backgroundClass'>
			<div id="social-tab" class="tabs-schema"><i class="icon-twitter"></i>Social</div>
			<div id='social-feed'></div>
			<div class='inputComponent'>
				<input type="text" id="newTweetbox" value="#bewastewise" onFocus="this.value='#bewastewise'"  />
				<input type="button" id='submitnewquestion' value="TWEET" onclick='proposeQuestion();'/><br>
			</div>

		</div>

		<div id='video'>
			<iframe width="560" height="315" src="//www.youtube.com/embed/YcxmpE0QoH8" frameborder="0" allowfullscreen></iframe>
		</div>

		<div id='rightBar' class='backgroundClass'>
			<div id='chat-tab' class='tabs-schema'>
				<i class="icon-comments"></i> CHAT
			</div>

			<div id='chatroom'>
				<div id='conversation'>
					

				</div>
				<div class='inputComponent'>
				<input id='chatdata' value="Submit a Message"/>
				<input id='enterchat' type='button' value='SEND'/>
				</div>
			</div>
		</div>

		<!--<div id='timer' class='tabs-schema'>01:59:00</div>-->

		<div id='bottomBar1'>
			<div id='bottomBarNav1'>
				<div id='panelists-tab1' class='tabs-schema'><i class="icon-star"></i> Panelists</div>
				<div id='spectators-tab1' class='tabs-schema'><i class="icon-group"></i>Spectators</div>
				<div id='information-tab1' class='tabs-schema'><i class="icon-info-sign"></i> Information</div>
			</div>

			
			<style>
				.panelistBox {
					float:left;
					height:100%;
					width:375px;
					border:1px solid black;
				}
				.panelistProfile {
					position: relative;
					float:left;
					width:125px;
					height:100%;
					padding:5px 0 0 2px;
			
				}
				.panelistName {
					text-align: center;
					font-size: 10px;
					font-weight: bold;
				}
				.panelistPic {
					padding: 10px 0 0 22px;
				}
				.panelistPic img {
					height:70px;
					width:70px;
					border-radius: 35px;
					border: 2px solid #dadada;
				}
				.panelistTitle {
					text-align: center;
					font-size: 14px;
					font-weight: bold;
				}
				.panelistBio {
					float:left;
					width:215px;
					height:100%;
					font-size: 13px;
					padding:5px;
					border-left: 1px solid black;
					word-wrap: break-word;
				}
				.panelistArrow {
					float:left;
					height:100%;
					width:21px;
					background-color:red;
				}
				.panelistExtendedBio {
					float:left;
					width:400px;
					height:100%;
					font-size:13px;
					display:none;
				}


			</style>
			<script>
				$(function(){ 
					myVisible = function(id) {
						var myDiv = $(id);
						myDiv.css("display", "block");
					};
					myHide = function(id) {
						var myDiv = $(id);
						myDiv.css("display", "none");
					};
					
						// Container 2 arrow 2 
		      	$("#panelist1Arrow2Container").click(function () {

		      		// Panelist 1
		     		("#panelist1BioBox");
		     		myHide("#panelist1AddlBlock");
		     		myVisible("#panelist1ArrowContainer");
		     		myVisible("#panelist1Arrow");
		     		myHide("#panelist1Arrow2Container");
		     		myHide("#panelist1Arrow2");

		     		// Panelist 2
		     		myVisible("#panelist2BioBox");
		     		myHide("#panelist2AddlBlock");
		     		myVisible("#panelist2ArrowContainer");
		     		myVisible("#panelist2Arrow");
		     		myHide("#panelist2Arrow2Container");
		     		myHide("#panelist2Arrow2");

		     		// Panelist 3
		     		myVisible("#panelist3BioBox");
		     		myHide("#panelist3AddlBlock");
		     		myVisible("#panelist3ArrowContainer");
		     		myVisible("#panelist3Arrow");
		     		myHide("#panelist3Arrow2Container");
		     		myHide("#panelist3Arrow2");
		  		});

		  		$("#panelist1InfoBox").click(function () {
		      		// Panelist 1
		     				      		// Panelist 2
		     		//$("#panelist1AddlBlock").style.visibility = 'visible';
		     		myVisible("#panelist1BioBox");
		     		myVisible("#panelist1AddlBlock");
		     		//$("#panelist2Arrow").toggleClass("icon-angle-left icon-angle-right");
		     		myHide("#panelist1ArrowContainer");
		     		myHide("#panelist1Arrow");
		     		myVisible("#panelist1Arrow2Container");
		     		myVisible("#panelist1Arrow2");


		      		// Panelist 1
		      		$("#panelist2InfoBox").toggleClass("panelistInfoBox panelistInfoBoxFullBorder");
		      		myHide("#panelist2BioBox");
		      		myVisible("#panelist2ArrowContainer");
		      		myVisible("#panelist2Arrow");
		      		myHide("#panelist2Arrow2Container");
		      
		      		// Panelist 3 
		      		$("#panelist3InfoBox").toggleClass("panelistInfoBox panelistInfoBoxFullBorder");
		      		myHide("#panelist3BioBox");
		      		myVisible("#panelist3ArrowContainer");
		      		myVisible("#panelist3Arrow");
		      		myHide("#panelist3Arrow2Container");
		  		});

  				$("#panelist2InfoBox").click(function () {
		      		// Panelist 2
		     		//$("#panelist1AddlBlock").style.visibility = 'visible';
		     		myVisible("#panelist2BioBox");
		     		myVisible("#panelist2AddlBlock");
		     		//$("#panelist2Arrow").toggleClass("icon-angle-left icon-angle-right");
		     		myHide("#panelist2ArrowContainer");
		     		myVisible("#panelist2Arrow2Container");
		     		myVisible("#panelist2Arrow2");


		      		// Panelist 1
		      		$("#panelist1InfoBox").toggleClass("panelistInfoBox panelistInfoBoxFullBorder");
		      		myHide("#panelist1BioBox");
		      		myVisible("#panelist1ArrowContainer");
		      		myVisible("#panelist1Arrow");
		      		myHide("#panelist1Arrow2Container");
		      
		      		// Panelist 3 
		      		$("#panelist3InfoBox").toggleClass("panelistInfoBox panelistInfoBoxFullBorder");
		      		myHide("#panelist3BioBox");
		      		myVisible("#panelist3ArrowContainer");
		      		myVisible("#panelist3Arrow");
		      		myHide("#panelist3Arrow2Container");
		  		});

  				$("#panelist3InfoBox").click(function () {
		      
		      		// Panelist 2
		     		//$("#panelist1AddlBlock").style.visibility = 'visible';
		     		myVisible("#panelist3BioBox");
		     		myVisible("#panelist3AddlBlock");
		     		//$("#panelist2Arrow").toggleClass("icon-angle-left icon-angle-right");
		     		myHide("#panelist3ArrowContainer");
		     		myVisible("#panelist3Arrow2Container");
		     		myVisible("#panelist3Arrow2");


		      		// Panelist 1
		      		$("#panelist1InfoBox").toggleClass("panelistInfoBox panelistInfoBoxFullBorder");
		      		myHide("#panelist1BioBox");
		      		myVisible("#panelist1ArrowContainer");
		      		myVisible("#panelist1Arrow");
		      		myHide("#panelist1Arrow2Container");
		      
		      		// Panelist 2
		      		$("#panelist2InfoBox").toggleClass("panelistInfoBox panelistInfoBoxFullBorder");
		      		myHide("#panelist2BioBox");
		      		myVisible("#panelist2ArrowContainer");
		      		myVisible("#panelist2Arrow");
		      		myHide("#panelist2Arrow2Container");
		  		});

		    	$("#panelist1ArrowContainer").click(function () {

		      		// Panelist 2
		     		//$("#panelist1AddlBlock").style.visibility = 'visible';
		     		myVisible("#panelist1BioBox");
		     		myVisible("#panelist1AddlBlock");
		     		//$("#panelist2Arrow").toggleClass("icon-angle-left icon-angle-right");
		     		myHide("#panelist1ArrowContainer");
		     		myHide("#panelist1Arrow");
		     		myVisible("#panelist1Arrow2Container");
		     		myVisible("#panelist1Arrow2");


		      		// Panelist 1
		      		$("#panelist2InfoBox").toggleClass("panelistInfoBox panelistInfoBoxFullBorder");
		      		myHide("#panelist2BioBox");
		      		myVisible("#panelist2ArrowContainer");
		      		myVisible("#panelist2Arrow");
		      		myHide("#panelist2Arrow2Container");
		      
		      		// Panelist 3 
		      		$("#panelist3InfoBox").toggleClass("panelistInfoBox panelistInfoBoxFullBorder");
		      		myHide("#panelist3BioBox");
		      		myVisible("#panelist3ArrowContainer");
		      		myVisible("#panelist3Arrow");
		      		myHide("#panelist3Arrow2Container");
		  		});


				$("#panelist2ArrowContainer").click(function () {
		      		// Panelist 2
		     		//$("#panelist1AddlBlock").style.visibility = 'visible';
		     		myVisible("#panelist2BioBox");
		     		myVisible("#panelist2AddlBlock");
		     		//$("#panelist2Arrow").toggleClass("icon-angle-left icon-angle-right");
		     		myHide("#panelist2ArrowContainer");
		     		myVisible("#panelist2Arrow2Container");
		     		myVisible("#panelist2Arrow2");


		      		// Panelist 1
		      		$("#panelist1InfoBox").toggleClass("panelistInfoBox panelistInfoBoxFullBorder");
		      		myHide("#panelist1BioBox");
		      		myVisible("#panelist1ArrowContainer");
		      		myVisible("#panelist1Arrow");
		      		myHide("#panelist1Arrow2Container");
		      
		      		// Panelist 3 
		      		$("#panelist3InfoBox").toggleClass("panelistInfoBox panelistInfoBoxFullBorder");
		      		myHide("#panelist3BioBox");
		      		myVisible("#panelist3ArrowContainer");
		      		myVisible("#panelist3Arrow");
		      		myHide("#panelist3Arrow2Container");
		  		});
	
				$("#panelist2Arrow2Container").click(function () {
		      		// Panelist 1
		     		myVisible("#panelist1BioBox");
		     		myHide("#panelist1AddlBlock");
		     		myVisible("#panelist1ArrowContainer");
		     		myVisible("#panelist1Arrow");
		     		myHide("#panelist1Arrow2Container");
		     		myHide("#panelist1Arrow2");

		     		// Panelist 2
		     		myVisible("#panelist2BioBox");
		     		myHide("#panelist2AddlBlock");
		     		myVisible("#panelist2ArrowContainer");
		     		myVisible("#panelist2Arrow");
		     		myHide("#panelist2Arrow2Container");
		     		myHide("#panelist2Arrow2");

		     		// Panelist 3
		     		myVisible("#panelist3BioBox");
		     		myHide("#panelist3AddlBlock");
		     		myVisible("#panelist3ArrowContainer");
		     		myVisible("#panelist3Arrow");
		     		myHide("#panelist3Arrow2Container");
		     		myHide("#panelist3Arrow2");
		  		});


					$("#panelist3ArrowContainer").click(function () {
		      		// Panelist 2
		     		//$("#panelist1AddlBlock").style.visibility = 'visible';
		     		myVisible("#panelist3BioBox");
		     		myVisible("#panelist3AddlBlock");
		     		//$("#panelist2Arrow").toggleClass("icon-angle-left icon-angle-right");
		     		myHide("#panelist3ArrowContainer");
		     		myVisible("#panelist3Arrow2Container");
		     		myVisible("#panelist3Arrow2");


		      		// Panelist 1
		      		$("#panelist1InfoBox").toggleClass("panelistInfoBox panelistInfoBoxFullBorder");
		      		myHide("#panelist1BioBox");
		      		myVisible("#panelist1ArrowContainer");
		      		myVisible("#panelist1Arrow");
		      		myHide("#panelist1Arrow2Container");
		      
		      		// Panelist 2
		      		$("#panelist2InfoBox").toggleClass("panelistInfoBox panelistInfoBoxFullBorder");
		      		myHide("#panelist2BioBox");
		      		myVisible("#panelist2ArrowContainer");
		      		myVisible("#panelist2Arrow");
		      		myHide("#panelist2Arrow2Container");
		  		});

		  		$("#panelist3Arrow2Container").click(function () {
		      		// Panelist 1
		     		myVisible("#panelist1BioBox");
		     		myHide("#panelist1AddlBlock");
		     		myVisible("#panelist1ArrowContainer");
		     		myVisible("#panelist1Arrow");
		     		myHide("#panelist1Arrow2Container");
		     		myHide("#panelist1Arrow2");

		     		// Panelist 2
		     		myVisible("#panelist2BioBox");
		     		myHide("#panelist2AddlBlock");
		     		myVisible("#panelist2ArrowContainer");
		     		myVisible("#panelist2Arrow");
		     		myHide("#panelist2Arrow2Container");
		     		myHide("#panelist2Arrow2");

		     		// Panelist 3
		     		myVisible("#panelist3BioBox");
		     		myHide("#panelist3AddlBlock");
		     		myVisible("#panelist3ArrowContainer");
		     		myVisible("#panelist3Arrow");
		     		myHide("#panelist3Arrow2Container");
		     		myHide("#panelist3Arrow2");
		  		});

});
			</script>
			
			<div id='spectators1'>
				<ul id='spectatorsList'>

				</ul>
			</div>

		<div id="panelists">
		<ul>
		<li>
		<div id="panelist1">
			
			<div id="panelist1InfoBox" class="panelistInfoBox" style="margin-right: 0px; display: block;">
				<center>
					<div class="panelistName">Tom Szaky</div>
					<div class="panelistAvatar" id="avatar-tom"></div>	
					<div class="panelistTitle">Panelist</div>	
					<div class="panelistSocial">
						<a href="http://www.linkedin.com/pub/tom-szaky/1/9a4/237?trk=cws-ppw-member-0-0"><i class="icon-linkedin-sign" style="text-decoration: none;"></i></a>
						<a href="#"><i class="icon-twitter-sign" style="text-decoration: none;"></i></a>
						<a href="#"><i class="icon-facebook-sign" style="text-decoration: none;"></i></a>
					</div>
	    		</center>
			</div> <!--Info box closed here-->

			<div id="panelist1BioBox" class="panelistBioBox" style="margin-left: 0px; margin-right: 0px; display: block;">
				<div class="panelistTextBlock">
					<div class="panelistBioTitle">Panelist Bio</div>
					Tom Szaky is the CEO and Founder of TerraCycle, which is an international upcycling and recycling company that collects difficult-to-recycle packaging and products and repurposes the material into affordable, innovative products.  
				</div>
				<div id="panelist1AddlBlock" style="display: none;">
	        		<div class="panelistTextBlock">
	        			<div class="panelistMoreInfoTitle">
	        				Relevant Articles
	        			</div>
						1. <a title="One Man's Rubbish is Terracycle's Bounty" href="http://money.cnn.com/2011/05/11/smallbusiness/terracycle_trash_cash_inner_city_100.fortune/?section=money_latest" target="_blank">One man's rubbish is Terracycle's bounty</a><br>
						2. <a title="Eco-preneurs Need to Look to Larger Retailers to Create Change" href="http://www.huffingtonpost.com/tom-szaky/green-products-big-business_b_2781597.html" target="_blank">Eco-preneurs Need to Look to Larger Retailers to Create Change</a><br>
						3. <a title="Why Not All Packaging Deserves a Bad Wrap" href="http://www.greenbiz.com/blog/2012/09/27/big-picture-packaging" target="_blank">Why Not All Packaging Deserves a Bad Wrap</a><br>
					</div>

					<div class="panelistTextBlock">
						<div class="panelistLinksTitle">
							Relevant Videos
						</div>
						<iframe width="160" height="90" src="http://www.youtube.com/embed/Ld0QEI73-fM?feature=player_embedded" frameborder="0" allowfullscreen=""></iframe>
					</div>
      			</div><!--Additional Block closes here-->
			</div> <!-- Panelist 1 Bio closes-->
			<div id="panelist1ArrowContainer" style="display: block;">
				<i id="panelist1Arrow" class="icon-angle-right"></i>

			</div> <!-- arrow div -->
			<div id="panelist1Arrow2Container" style="display:none;">
				<i id="panelist1Arrow2" class="icon-angle-left"></i>
			</div> <!-- arrow 2-->
		</div> <!--panelist 1-->
		</li>
		<li>
		<div id="panelist2" style="">
			<div id="panelist2InfoBox" class="panelistInfoBox" style="margin-right: 0px; display: block;">
				<center>
					<div class="panelistName">Bilikiss Adebiyi</div>
					<div class="panelistAvatar" id="avatar-adebiyi"></div>	
					<div class="panelistTitle">Panelist</div>	
					<div class="panelistSocial">
						<a href="ttp://ng.linkedin.com/pub/bilikiss-adebiyi/23/157/309?trk=cws-ppw-member-0-0"><i class="icon-linkedin-sign" style="text-decoration: none;"></i></a>
						<a href="#"><i class="icon-twitter-sign" style="text-decoration: none;"></i></a>
						<a href="#"><i class="icon-facebook-sign" style="text-decoration: none;"></i></a>
					</div>
	    		</center>
			</div> <!--Infobox closing -->
			<div id="panelist2BioBox" class="panelistBioBox" style="margin-left: 0px; margin-right: 0px; display: block;">
				<div class="panelistTextBlock">
					<div class="panelistBioTitle">
					Panelist Bio
					</div>
					Bilikiss Adebiyi is the CEO and Co-founder of Wecyclers, a social enterprise which leverages low-cost, scalable, easily adaptable technology to collect recyclable waste at the household level. 
				</div> 
				<div id="panelist2AddlBlock" style="display: none;">
	        		<div class="panelistTextBlock">
	        			<div class="panelistMoreInfoTitle">
	        				Relevant Articles
	        			</div>
						1. <a title="Doing Well By Doing Good: 10 Socially Conscious Entrepreneurs in Boston" href="http://bostinno.streetwise.co/all-series/doing-well-by-doing-good-10-socially-conscious-entrepreneurs-in-boston/" target="_blank">Doing Well By Doing Good: 10 Socially Conscious Entrepreneurs in Boston</a><br>
						2. <a title="Waste Collection Cargo Bicycle/Nigeria" href="http://d-lab.mit.edu/scale-ups/waste-collection-cargo-bike" target="_blank">Waste Collection Cargo Bicycle/Nigeria</a><br>
					</div>

					<div class="panelistTextBlock">
						<div class="panelistLinksTitle">Relevant Videos</div>
						<iframe width="160" height="90" src="http://www.youtube.com/embed/OLUaoSCjOTA?feature=player_embedded" frameborder="0" allowfullscreen=""></iframe>
					</div>
      			</div> <!-- closes additional block -->
      		</div> <!--closes bio box -->
			<div style=" float: left;">
				<div id="panelist2ArrowContainer" style="display: block;">
					<i id="panelist2Arrow" class="icon-angle-right"></i>

				</div> <!-- Arrow container  -->

				<div id="panelist2Arrow2Container" style="display: none;">
					<i id="panelist2Arrow2" class="icon-angle-left"></i>

				</div> <!-- Arrow2 contianer 2 -->
			</div> <!-- style div -->
		</div> <!-- closes panelist 2 -->
		</li>
		<li>
		<div id="panelist3" style="">
		<div id="panelist3InfoBox" class="panelistInfoBox" style="margin-right: 0px; display: block;">
			<center>
				<div class="panelistName">Priti Ambani</div>
				<div class="panelistAvatar" id="avatar-ambani"></div>	
				<div class="panelistTitle">Moderator</div>	
				<div class="panelistSocial">
					<a href="#"><i class="icon-linkedin-sign" style="text-decoration: none;"></i></a>
					<a href="#"><i class="icon-twitter-sign" style="text-decoration: none;"></i></a>
					<a href="#"><i class="icon-facebook-sign" style="text-decoration: none;"></i></a>
				</div>
	    	</center>
		</div> <!-- info box -->
		<div id="panelist3BioBox" class="panelistBioBox" style="margin-left: 0px; margin-right: 0px; display: block;">
			<div class="panelistTextBlock"><div class="panelistBioTitle">Panelist Bio</div>Priti Ambani is the Managing Editor of Ecopreneurist.com which offers advice, tools and case studies to social entrepreneurs, startups, and environmental enterprises to help them start, run and grow their businesses.  
			</div> 
			<div id="panelist3AddlBlock" style="display: none;">
	        	<div class="panelistTextBlock">
	        		<div class="panelistMoreInfoTitle">Relevant Articles</div>
					1. <a title="Priti Ambani's Posts Page on Ecopreneurist" href="http://ecopreneurist.com/author/pambani/" target="_blank">Priti Ambani's Posts Page on Ecopreneurist</a><br>
		
				</div>

				<div class="panelistTextBlock">
					<div class="panelistLinksTitle">Relevant Videos</div><iframe width="160" height="90" src="http://www.youtube.com/embed/1429SGFQPkc?feature=player_embedded" frameborder="0" allowfullscreen=""></iframe>
				</div>
      		</div> <!-- additional block -->
		</div> <!-- bio box -->
		<div style="float: left;">
			<div id="panelist3ArrowContainer" style="display: block;">
				<i id="panelist3Arrow" class="icon-angle-right"></i>

		    </div> <!--arrow 3 continer -->

			<div id="panelist3Arrow2Container" style="display: none;">
				<i id="panelist3Arrow2" class="icon-angle-left"></i>

			</div> <!--arrow 3 container 2 closes-->
		</div> <!-- style closing -->
		</div> <!-- panelist 3 closing -->
		</li>
		<ul>
	</div> <!-- panelists closing -->
	<div id='information1'>
			</div>



		</div>


		<!--<div id='bottomBar' class='backgroundClass'>
			<div id='spectators-tab' class='tabs-schema'>
				Spectators
			</div>
			<div id='information-tab' class='tabs-schema'>
				<i class="icon-file-text-alt"></i> Information
			</div>
			<div id='bottom-bar-filler'x></div>
			<div id='information'>

				<p>WHOO INFORMATION!</p>

			</div>
			<div id='spectators'>
				<p>WHOOO SPECTATORS</p>

			</div>
		</div>-->
	</div>
</body>

</html>
