<html>

<head>
<title>Login Page</title>
<link rel="stylesheet" type="text/css" href="stylesheets/css/style-login.css">
<link rel="stylesheet" type="text/css" href="stylesheets/social-login/css/zocial.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'>

<script type="text/javascript">

function showhide(divid, state){
  document.getElementById(divid).style.display=state
}

</script>

</head>

<body style="">

<div id="header"><h1 class="Title1" style="font-weight:600;font-size:30px;text-transform:uppercase;">Solid Waste Management and Climate Change</h1>
<div style="position:absolute;top:20;right:10;"><img height="50" src="wastewise-tiny.png"></div>
</div>
<div id="sub-header" style="padding-right:0px;"><span style="padding-right:20px;font-weight:600;font-size:10px;">Powered by Wisdom.ly</span></div>


<div class="Container" style="background-image: -webkit-linear-gradient(top, #f2f6fc, #FFFFFF);padding-top: 40px;">



      <div class="Center-Block Absolute-Center is-Responsive" style="background-color: transparent;text-align:center;color:#000;border-radius: 15px;">
        
        <center>



<div class="Center-Block Absolute-Center is-Responsive" style="
width: 60%;
background-color: rgba(97, 255, 110, 0.14);
box-shadow: 1px 3px 8px rgba(0,0,0,0.2);
margin-bottom: 30px;
padding: 0px;
font-size: 16px;
padding-top: 10px;
padding-bottom: 10px;
font-weight: 600;
opacity: 0.6;">"Welcome to our WasteWise Discussion powered by Wisdom.ly. We are trying out this new platform for talk delivery to provide our viewers with a much more engaging experience." <Br> <span style="font-size: 11px;
font-weight: 500;
text-transform: uppercase;">Katrina Mitchell and Ranjith Annepu, Founders of WasteWise<span></div>


        <div style="width:60%;border-radius:0px;background-color: rgba(218, 234, 255, 0.39);padding-top:3%;padding-bottom:11%;box-shadow: 1px 3px 8px rgba(0,0,0,0.2);">
        	<h1 class="Title" style="font-size:30px;font-weight:400;">Welcome to the WasteWise Talk!</h1>

        <p style="padding-top:10px;padding-bottom:15px;font-size:14px;font-weight:500;">Click to Login with Linkedin or Twitter below</p>
        <a href="/auth/linkedin" class="zocial linkedin" style="font-size:15px;margin-right:10px;">Sign in with LinkedIn</a>
        <a href="/auth/twitter" class="zocial twitter"  style="font-size:15px;margin-right:20px;">Sign in with Twitter</a><div>

       <div style="width:500px;padding-top:10px;font-size:12px;line-height:14px;"> Please Note that other viewers will be able to see that you are viewing this talk. We believe this enhances your experience and allows you to better connect with the WasteWise community.</div>

        <div style="padding-top:30px;">
        <a href="#" class="zocial guest" style="font-size:15px"  onClick="showhide('logininfo', 'block'); return false" >&nbsp;&nbsp;Sign in as guest&nbsp;&nbsp;</a></div>
        <div id='error'><h5><%=message %></h5></div>

        <div id="logininfo" style="display:none;"> <div style="width:45%;">

<form action='/bewastewise' method='post'>
<div style="float:left;padding-bottom:10px;padding-top:10px;">Nickname: <input id='nickname' name='nickname' type="text"><center><div style="font-size:14px; float:left; padding-left:100px">This will be visible to other viewers.</div></center></div>

<center><div style="padding-top:10px;"><input id="gobutton" type="submit" value="Submit"></div></center>
</form>
</div>

      </div>
  </div>
    </div>
 </center>
<div id="bottom"><span style="padding-right:20px;font-weight: 500;font-size:10px;float:right;padding-top:10px;padding-top:10px;font-weight:600;text-transform:uppercase;">About Us | Support | Contact Us </span><span style="position: absolute;
bottom: 4;
left: 5;"><img height="30" src="wisdomly-tiny.jpg"></span></div>

</body>

</html>
