<html>
<head>
	<title>Be Waste Wise Talk</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/css/loginstyle.css">


</head>
<body>
	<div id='main-container'>
		<div id='login-methods'>
			<center>
			<div id='linkedIn-signin'><a href="/auth/linkedin"><img src='http://airbump.me/img/user/registration/linkedin-signin.png'/></a>
			</div>
			<br />

			<div id='twiter-signin' style=' height:30px; overflow:hidden; margin-left:20px;'><a href="/auth/twitter"><img style='width:160px;height:32px;' src="http://artornot.info/assets/sign-in-with-twitter-a71f9403376fe2560a99d8ee2065a7a6.png"/></a></div>
			<br>
		</div>
		<br />
		<br />

		<script>
			$('#signup').click(function() {
				alert('s');
				var nickname = $('#nickname').val();
				if(nickname.length === 0) {
					alert('aa');
					//$('#error').append('<h3>Please type in a nickname</h3>');
					//event.preventDefault();
				}
			});
		

		</script>

		<form action='/signup' method='post'>
			<div id='error'></div>
			<label>Nickname:</label>
			<input name='nickname' id='nickname' type='text'/>
			<label>Email:</label>
			<input name='email' type='text' />
			<input value='Sign up' id='signup' type='submit' />
		</form>

			</div></center>

		</div>
</body>
</html>