<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
	$(function(){
	var amt = 0;
	$('#addTopic').click(function() {
		
		samt = amt.toString();
		$('#topicList').append(
			"<label>Topic " + samt + "</label>"
			+ "<input name=\'topic" + samt + "\'type='text' /> <br />" 
		); 
		amt = amt + 1;
		$('#topicAmt').val(amt);
	});
});
</script>

<html>

	<body>
		<form action='/expert' method='post'>
			<label>username:</label>
			<input name='username' type='text' />
			<label>Session Number:</label>
			<input name='sessionNum' type='text' />
			<div id='topicList'></div>
			<input id='topicAmt' name='topicAmt' />
			<input value='submit' type='submit' />
		</form>
		<input value='Add Topic' id='addTopic' type='submit' />
	</body>

</html>