<html>
<head>
<title>Be Waste Wise</title>
</head>
	<body>
		<form action='/login' method='post'>
			<a href="/auth/linkedin1"><img src='http://developer.linkedin.com/sites/default/files/js-signin.png'/></a>
			<br />
			<br />
			<h3>Welcome to the Be Waste Wise talk on Solid Waste Management and Climate Change</h3>
			<br />
			<label>Email:</label>
			<input name='email' type='text' />
			<label>userid</label>
			<input name='userId' type='text'/>
			<label>firstname</label>
			<input name='firstName' type='text'/>
			<label>lastname</label>
			<input name='lastName' type='text'/>
			<label>Password:</label>
			<input name='password' type='password' />
			<input value='submit' type='submit' />
			<a href='/signup'>Sign up</a>


		</form>
	</body>

</html>

