<html>
<head>
<title></title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
</head>
<body style="background-color:#000;color:#fff;text-align:center;font-family:'Open Sans';font-weight:400;text-shadow: 0px 0px 6px rgba(255,255,255,0.7);">
<div style="font-size:35px;margin-top:100px;">
This talk is scheduled to start at:
</div>
<div style="font-size:70px;font-weight:600;">
11:00AM EST
</div>
<div style="padding-top:30px;">
</div>
</body>
</html>
