<html>
	<title>Sign Up</title>

	<body>
		<form action='/signup' method='post'>
	<!--		<label>First Name:</label>
			<input name='firstName' type='text' />

			<label>Last Name:</label>
			<input name='lastName' type='text' />

			<label>Email:</label>
			<input name='email' type='text' />
-->
			<label>Username:</label>
			<input name='username' type='text'/>
			<label>Password:</label>
			<input name='password' type='password'/>

			<input value='Sign Up' type='submit' />
			<p>Already have an account? <a href='/'>Sign In</a></p>

		</form>
	</body>
</html>