<%= title %>

<form method='post' action='/' >
	<label>First Name:</label>
	<input name='firstName' type='text'/>

	<label>Last Name:</label>
	<input name='lastName' type='text'/>

	<label>Email:</label>
	<input name='email' type='text'/>

	<label>Username:</label>
	<input name='username' type='text' />

	<label>Current Organization:</label>
	<input name='organization' type='text' />

	<label>Title</label>
	<input name='title' type='text'/>

	<input type='submit' value='Sign up' />
</form>

<a href='/auth/twitter'>Log in with twitter</a>