<html>
	<title>Sign Up</title>

	<body>
		<form action='/signup' method='post'>
			<label>First Name:</label>
			<input name='firstName' type='text' />

			<label>Last Name:</label>
			<input name='lastName' type='text' />

			<label>Date of Birth:</label>
			<select name='dob'>
				<option></option>
				<option name='2011' value='2011'>2011</option>
				<option name='2012' value='2012'>2012</option>
				<option name='2013' value='2013'>2013</option>
				<option name='2014' value='2014'>2014</option>

			</select>

			<label>Email:</label>
			<input name='email' type='text' />

			<label>Username:</label>
			<input name='username' type='text' />

			<label>Password:</label>
			<input name='password1' type='password'/>

			<label>Confirm Password:</label>
			<input name='password2' type='password' />

			<label>Organization:</label>
			<input name='organization' type='text' />

			<label>Title:</label>
			<input name='orgTitle' type='text' />s

			<input value='Sign Up' type='submit' />
			<p>Already have an account? <a href='/'>Sign In</a></p>

		</form>
	</body>
</html>