body {
	margin:0;
	padding:0;
}

#main-container{
	position:relative;
	width:100%;
	height: 100%;
}

#header {
	width:100%;
	height:80px;
	border:2px solid white;
	background-color:#f2f6fc;
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}

#header h1 {
	color: #2A3C57;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	line-height: 27px;

}
#hostLogo {
	position: absolute;
	left:5px; 
	top:3px;
	height:45px;
	width:108px;
}
#hostLogo img {
	width:100%;
	height:100%;
}
#leftBar {
	float:left;
	height: 80%;
	width:30%;
	border: 1px solid #E0E0E0;
}

		
#middleBar {
	float:left;
	height:80%;
	width:30%;
	border: 1px solid #E0E0E0;

}

#rightBar {
	float:left;
	height:80%;
	width:30%;
	border: 1px solid #E0E0E0;
	overflow: scroll;

}

#chat-tab {
	width:100%;
	height: 30px;
	border: 1px solid #E0E0E0;
	border-left: none;
	border-right: none;
	padding-top: 10px;
	background: #EFF4FA;
	font-size: 12px;
	font-weight: 900;
	font-family: Helvetica;
	text-transform: uppercase;
	color: #2A3C57;
}

#social-tab {
	width:100%;
	height: 30px;
	border-left: none;
	border-right: none;
	border: 1px solid #E0E0E0;
	padding-top: 10px;
	background: #EFF4FA;
	font-size: 12px;
	font-weight: 900;
	font-family: Helvetica;
	text-transform: uppercase;
	padding-bottom: 0px;
	color: #2A3C57;

}

#support-tab {
	width:100%;
	height: 30px;
	border: 1px solid #E0E0E0;
	border-left: none;
	border-right: none;
	padding-top: 10px;
	background: #EFF4FA;
	font-size: 12px;
	font-weight: 900;
	font-family: Helvetica;
	text-transform: uppercase;
	color: #2A3C57;
}

#socialTitle{ 
	vertical-align: middle;
}

#chatroom {
	height:inherit;
	width:95%;
	background: #fbfbfc;
}

#conversation {
	height: 85%;
	width: 100%;
	margin: 1px;
	border: 1px solid gray;
	display: block;
	border: 1px solid #E0E0E0;
	background: #fbfbfc;
}

.supportconversation{
	height: 25%;
	width: 100%;
	margin: 1px;
	border: 1px solid gray;
	display: block;
	border: 1px solid #E0E0E0;
	background: #fbfbfc;

}
			
#socialFeed-container {
	height: 85%;
	width: 100%;
	margin-top: 1px;
	border: 1px solid gray;
	display: block;
	overflow: auto;
	border: 1px solid #E0E0E0;
	background: #fbfbfc;

}



/**** Twitter **/

.twittermessagebox {
float: left;
margin: 1px;
padding-left: 0px;
background: rgba(51, 204, 255, 0.18);
border: 1px solid rgba(51, 124, 255, 0.15);
border-radius: 23px;
width: 100%;
margin-top: 2px;
}

.twittericon{
height: 45px;
line-height: 12px;
font-size: 10px;
font-family: Helvetica;
color: #2A3C57;
font-size: 10px;
float: right;
padding-right: 12px;
}


.twittermessage {
line-height: 12px;
font-size: 12px;
font-family: Helvetica;
color: #2A3C57;
font-size: 9px;
padding-left: 18px;
padding-right: 10px;
padding-top: 2px;
text-align: right;
}

.twittername {
text-transform: uppercase;
line-height: 12px;
font-size: 7px;
font-family: Helvetica;
color: #2A3C57;
font-weight: 900;
float: right;
padding-top: 0px;
padding-right: 13px;
}

.icon-twitter {
text-decoration: none;
color:#00aced;
font-size:14px;
text-decoration: none;
float: left;
padding-right: 5px;
padding-top: 5px;
font-size: 26px;
}

/** ENd twitter ***/


.wastewiseInfo {
	float: left;
	width: 400px;
	height: 125px;
	margin: 1px;
	padding: 4px;
	font-size: 10px;
	background: #fbfbfc;
	border: 1px solid #E0E0E0;

}

.wastewiseTitle {
    font-size: 9px;
	font-weight: 900;
	text-transform: uppercase;

}

.wastewiseText {
	margin-top:5px;
	font-size: 12px;

}


.backgroundClass{
	background-color: #E9E9E9;
}
.inputComponent{
	width:100%;
	margin-left:2px;
	background-color:#E0E0E0;
	
}

#newquestionbox{
	border: 1px solid #E0E0E0;
	width: 70%;
	height: 30px;
	margin-top: 2px;
	color: #757575;
	background: #FDFDFD;
	padding-left: 9px;
	font-family: Helvetica;
}


#chatdata{
	border: 1px solid #E0E0E0;
	width: 72%;
	height: 30px;
	margin-top: 2px;
	color: #757575;
	background: #FDFDFD;
	padding-left: 9px;
	font-family: Helvetica;

}

#supportchatdata{
	border: 1px solid #E0E0E0;
	width: 72%;
	height: 30px;
	margin-top: 2px;
	color: #757575;
	background: #FDFDFD;
	padding-left: 9px;
	font-family: Helvetica;

}

#submitnewtweet{
	width: 28%;
	background-color: navy;
	color: white;
	border: 0;
	height: 30px;
	text-transform: uppercase;
	font-family: Helvetica;
	font-size: 10px;
	font-weight: 900;
}
.questionAsked {
	margin: 15px 15px 0 15px;
	border: 3px solid black;
}

#enterchat{
	width: 27%;
	float: right;
	background-color: navy;
	color: white;
	border: 0;
	height: 29px;
	margin-top: 2px;
}

#supportenterchat{
	width: 27%;
	float: right;
	background-color: navy;
	color: white;
	border: 0;
	height: 29px;
	margin-top: 2px;
}

.qnaQuestionBox{
	background-color: white;
	font-family: Helvetica, sans-serif;

}
.QnAnumvotes{
	float: left;
	width: 16%;
	font-size: 36;
	margin-left: 7px;
	padding-top: 5px;
}

.QnAquestion{
	width:80%;
	float: right;
	text-align: justify;

}
.QnAauthor{
	float: right;
}

.qButtonDiv{


}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.disableVote {
	background-color: black;
}

@media screen and (max-height:550px) {
	#bottombar1 {
		position: static;
		height:90px;
		width:100%;
		float:left;
		background-color:#edf0f1;
		bottom:0;
		margin-top: 15px;
		padding:0;

	}
}

/*----------------------------------------*/


#bottom {
   position:fixed;
   left:0px;
   bottom:0px;
   height:160px;
   width:100%;
   background:#eff1f3;
   font-family: Helvetica;
   
}


.discussionInfo {
	float: left;
	width: 400px;
	height: 125px;
	margin: 1px;
	padding: 4px;
	font-size: 12px;
	background: #fbfbfc;
	border: 1px solid #E0E0E0;

}

.discussionTitle {
	font-size: 9px;
	font-weight: 900;
	text-transform: uppercase;

}

.spectatorTitle {
	font-size: 9px;
	font-weight: 900;
	text-transform: uppercase;
}

.panelTitle {
	font-size: 10px;
	font-weight: 900;
	text-transform: uppercase;
}

.discussionText {
	margin-top:5px;
	font-size: 12px;
}



.panel {
   float:left;
   height: 140px;
   width:100px;
   background:#fbfbfc;
   padding:10px;
   margin:3px;
   margin-right: -1px;
   border: 1px solid #E0E0E0;
}

.panelBio {
     float:left;
   width: 250px;
	height: 125px;
	margin: 1px;
	padding: 4px;
	font-size: 6px;
   background:#fbfbfc;
   border: 1px solid #E0E0E0;
   border-left:0px;
}

.panelTitle {
	font-size: 10px;
	font-weight: 900;
	text-transform: uppercase;
}

#bottomAgenda {
   float:left;
   width: 225px;
	height: 125px;
	margin: 1px;
	padding: 4px;
	font-size: 6px;
   border: 1px solid #E0E0E0;
   background:#fbfbfc;

}

#bottomAgendaText {
	margin-top:5px;
	font-size: 10px;
}

#resources {
	float: left;
	width: 250px;
	height: 125px;
	margin: 1px;
	padding: 4px;
	font-size: 6px;
	background: #fbfbfc;
	border: 1px solid #E0E0E0;

}

#bottomResourcesText {
	margin-top:5px;
	font-size: 10px;

}


.avatar {
	width: 70px;
	height: 70px;
	margin-top:10px;
	margin-bottom:5px;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	background-size:35px 35px; 
}

#avatar-tom {
	background: url(images/tom.jpg) no-repeat;
	background-size: 70px 70px;
}

#avatar-adebiyi {
	background: url(images/adebiyi.jpg) no-repeat;
	background-size: 70px 70px;
}

#avatar-ambani {
	background: url(images/ambani.jpeg) no-repeat;
	background-size: 70px 70px;
}

.avatar-generic {
	width: 70px;
	height: 70px;
	margin-top:0px;
	margin-bottom:5px;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	background-size: 70px 90px, auto, 8px;
	background: url(images/geek.jpg) no-repeat;
}


.bullet {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #f4f5f7;
	border-radius: 20px;
	font-size: 10pt;

}

.icon-star {
	float: left;
	padding-right: 2px;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 2px;
}

.spectatorPanel {
	float: left;
	width: 100px;
	height: 125px;
	margin: 1px;
	padding: 4px;
	background: #fbfbfc;
	border: 1px solid #E0E0E0;
	border-right:0px;
}

.icon-twitter-sign {
	color: #00aced;
	font-size:10pt;
	text-decoration: none;
}


.icon-facebook-sign {
	color: #3B5998;
	font-size:10pt;
	text-decoration: none;
}

.icon-linkedin-sign {
	color: #007bb6;
	font-size:10pt;
	text-decoration: none;

}

.icon-info-sign {
	float: left;
	padding-right: 2px;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 2px;
}

.icon-link {
	color: #6cb1d8;
	padding-right:5px;
}

.icon-group {
	float: left;
	padding-right: 2px;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 2px;
}

.icon-question-sign {
	font-size: 16px;
	top: 54px;
}

.icon-comments {
	font-size: 16px;
	top: 51px;
}

.icon-file-text-alt {
	float: left;
	padding-right: 2px;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 2px;
}

.icon-list {
	float: left;
	padding-right: 2px;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 2px;
}

.icon-caret-right {
	color: #6cb1d8;
	font-size:10pt;
	padding-right:5px;
}

.icon-time {
	font-size:16px;
}


.chatmessagebox {
float: left;
height: auto;
width: 98%;
margin: -2px;
padding: 4px;
background: #fbfbfc;
word-wrap: break-word;
}

.chatmessage {
width: 180px;
height: auto;
line-height: 13px;
font-family:Helvetica;
color: #2A3C57;
font-size: 10px;
float: left;
padding-left: 14px;
}

.chatname {
text-transform:uppercase;
line-height: 12px;
font-size: 9px;
font-family:Helvetica;
color: #3A5E94;
font-weight: 900;
width: 200px;
float: left;
padding-top: 1px;
padding-left: 10px;
}

.sender{
	text-transform:uppercase;
	line-height: 12px;
	font-size: 9px;
	font-family:Helvetica;
	color: #3A5E94;
	font-weight: 900;
	/*width: 50px;*/
	float: left;
	padding-top: 1px;
	padding-left: 10px;
}

.msg{
	width: 180px;
	height: auto;
	line-height: 13px;
	font-family:Helvetica;
	color: #2A3C57;
	font-size: 10px;
	float: left;
	padding-left: 14px;
}

.msgtime{
	color:#ccc;
	font-size:12px;
	float: right;
}

.twitterMessageBox{
		float: left;
		margin: 1px;
		padding: 4px;
		border-radius: 3px;
		background: rgba(255, 255, 255, 0.18);
		width: 92%;
		margin-top: -2px;
		margin-left: 4px;
		border: 1px solid #e8e8e8;
	}
	.twitterName {
		float:left;
		color: #000000;
		line-height: 18px;
		font-family: Helvetica, Arial, sans-serif;
		text-transform: none;
		list-style: none;
		font-size: 12px;
		padding-bottom: 1px;
		font-style: normal;
		font-weight: bold;
	}
	.twitterMessage{
		text-align: left;
		float:left;
		line-height: 14px;
		font-family: Helvetica;
		color: #2A3C57;
		font-size: 12px;
	}