body {
	margin:0;
	padding:0;
}

#main-container{
	position:relative;
	width:100%;
	height: 100%;
}

#header {
	width:100%;
	height:50px;
	border:2px solid white;
	background-color:#f2f6fc;
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}

#header h1 {
	color: #2A3C57;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	line-height: 27px;

}
#hostLogo {
	position: absolute;
	right:5px;
	top:1px;
	height:50px;
	width:120px;
	border:1px solid black;
}
#leftBar {
	float:left;
	height:381px;
	width:20%;
	border:2px solid white;
}

#agenda-tab {
	width:100%;
	height:20px;
	border-left: none;
	border-right: none;
	line-height: 5px;
	font-size: 12px;
	padding-top:10px;
}


/**.tab-text {
	color:white;
	font-size: 30px;
	font-family: awesome;
	padding:20px 0 0 3px;
}**/

#thisAgenda {
	position: relative;
	height:75px;
	width:100%;
}

#currentTopic {
	border:1.2px solid #dadada;
	height:30px;
	width:96%;
	margin-left:4px;
	position: absolute;
	top:20px;
	background-color: #fff;
	text-align: center;
	line-height: 36px;
	font-weight: bold;
}

#agenda {
	position: absolute;
	top:106px;
	left:19.8%;
	height:0px;
	width:200px;
	z-index: 1;
	display: none;
	margin:0;
	padding:0;
	list-style: none;
	border-bottom:1px solid #dadada;
}


.agenda-item {
	width:100%;
	height:25px;
	margin:0;
	color:#000;
	border:1px solid #dadada;
	background-color: #fff;
	padding-top: 5px;
	padding-left:20px;
}
.switch {
	height:10px;
	width:10px;
	background-color: green;
	float:right;
}

#notes-tab {
	width:100%;
	height:20px;
	border-left: none;
	border-right: none;
	line-height: 5px;
	font-size: 12px;
	padding-top:10px;
}

#timestamp {
	font-size: 8px;
	line-height: 10px;
	font-size: 16px;
	padding:15px 0 0 5px;
}

#notes {
	height: 65%;
	width:100%;
	display:block;
}
			
#notes textarea {
	height:91%;
	width:97%;
	margin-left:4px;
	background-color: #fff;
	font-size:16px;
	margin-top: 5px;
	resize:none;
}

#video {
	width:58%;
	height:350px;
	float:left;
	margin-right:5px;
}
			
#video iframe {
	width:100%;
	height:100%;
	margin:0px 10px 0px 10px;
}

		
#rightBar {
	float:right;
	height:381px;
	width:20%;
	border:2px solid white;
}

#chat-tab {
	height:13px;
	width:46.7%;
	float:left;
	line-height: 22px;
	opacity: .5;
	font-size: 12px;
	padding-bottom:10px;
}

#qa-tab {
	height:13px;
	width:46.7%;
	float:left;
	border-left: none;
	margin-left: 5px;
	line-height: 22px;
	font-size: 12px;
	padding-bottom:10px;
}


#chatroom {
	height:85%;
	width:95%;
	margin-left:5px;
	display:none;
}

#conversation {
	height:100%;
	width: 100%;
	margin-top: 27px;
	background-color: white;
	border:1px solid gray;
	overflow: auto;
}
			
#qa {
	height:85%;
	width: 95%;
	margin-top: 27px;
	background-color: white;
	border:1px solid gray;
	display:block;
	overflow: auto;
	margin-left: 5px;
}
.questionAsked {
	border:2px solid black;
	margin:5px;
}

#timer {
	width:58%;
	height:15px;
	float:left;
	margin:10px 0px 0px 10px;
	font-size: 1em;
	border-left: none;
	border-right: none;
	text-align: center;
	line-height: 10px;
	padding-top: 10px;
}

/**
#bottomBar {
	height:150px;
	width:100%;
	float:left;
	background-color:#edf0f1;
	border-bottom: solid #3399FF;
	width: 100%;
	position: absolute;
	bottom:0;

}

#spectators-tab {
	height:15%;
	width:20%;
	float:left;
	margin:0;
	padding:0;
}


#information-tab {
	height:15%;
	width:20%;
	float:left;
	margin:0;
	padding:0;
	border-left: none;
}

#information{
	position: absolute;
	bottom:0;
	display:none;
	height:80%;
	width: 90%;
	border:solid;
	margin-left: 40px;
}

#spectators{
	position: absolute;
	bottom:0;
	height:80%;
	width: 90%;
	border:solid;
	margin-left: 40px;
}


#bottom-bar-filler{
	height:15%;
	width:59.44%;
	float:right;
	border-top: solid 1px #999999;
	border-bottom: solid 1px #999999;
}
**/

#bottombar1 {
	position: absolute;
	height:150px;
	width:100%;
	bottom:0;
	border-top:1px solid black;
	margin:0;
}

#bottomBarNav1 {
	float:left;
	height:30px;
	width:100%;
	background-color:green;
}
#spectators-tab1 {
	height:30px;
	width:120px;
	position: absolute;
	left:0;
	font-size:14px;
	line-height: 27px;
}
#information-tab1 {
	height:30px;
	width:120px;
	position: absolute;
	left:120px;
	font-size: 14px;
	line-height: 27px;
}
#spectators1 {
	position: relative;
	background-color:#edf0f1;
	overflow: auto;
	overflow-y:hidden;
	height: 100%;
 	width: 100%;
 	overflow-x:auto;
}
#spectatorName {
	text-align: center;
	font-style: 14px;
	font-weight: bold;
}
#spectators1 ul {
	list-style: none;
	margin:0;
	padding:0;
	display: block;
	height: 110px;
  	/* Max width here, for users without Javascript */
  	width: 1500px;
}
#spectators1 ul li {
	display:block;
	float:left;
	height:150px;
	width:120px;
	border-right:1px solid black;
	border-bottom:1px solid black;
	padding:0;
	margin:0;
	
}
#spectators1 ul li img {
	height:80px;
	width:80px;
	border-radius: 50px;
	border:2px solid #dadada;
	margin:5px 0 0 19px;
}
#spectatorSocial {
	height:25px;
	width:80px;
	background-color: red;
	margin:5px 0 0 19px;
}
#information1 {
	float:left;
	height:100%;
	width:100%;
	display:none;
	background-color: #edf0f1;
}

.tabs-schema{
	/*background-color: #3399FF*/
	background-color:#4873E1 ;
	color: #000099; 
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-left: 2px solid #000099 ;
	border-right: 2px solid #000099 ;
	text-align: center;
	cursor: pointer; 
	cursor: hand; 
	
}

.backgroundClass{
	background-color: #E9E9E9;
}
.inputComponent{
	width:90%;
	margin-left: 5px;
}

#newquestionbox{
	margin-left:5px;
	width:62%;
}


#chatdata{
	width:65%;

}

#submitnewquestion{
	width:26%;
	float: right;
	background-color: navy;
	color:white;
	border:0;
}
.questionAsked {
	margin: 15px 15px 0 15px;
	border: 3px solid black;
}

#enterchat{
	width:26%;
	float: right;
	background-color: navy;
	color:white;
	border:0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.disableVote {
	background-color: black;
}

@media screen and (max-height:700px) {
	#bottombar1 {
		position: static;
		height:150px;
		width:100%;
		float:left;
		background-color:#edf0f1;
		bottom:0;
		margin-top: 15px;
		padding:0;

	}
}