body {
	margin:0;
	padding:0;
}

#main-container{
	position:relative;
	width:100%;
	height: 100%;
}

#header {
	width:100%;
	height:50px;
	background-color:#f2f6fc;
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	padding-top: 1px;
	margin-bottom: 10px;
}

input#gobutton {
background: #1b4d6d;
color: #fff;
font-size: 14px;
text-transform:uppercase;
padding-top: 10px;
height: 36px;
}

#header h1 {
	color: #2A3C57;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	line-height: 27px;

}
#hostLogo {
	position: absolute;
	left:5px; 
	top:3px;
	height:45px;
	width:108px;
}
#hostLogo img {
	width:100%;
	height:100%;
}

#video {
	width:58%;
	height:384px;
	float:left;
	margin-top: 2px;
}
			
#video iframe {
	width:100%;
	height:100%;
	margin:0px 10px 0px 10px;
}

		
#rightBar {
	float:right;
	height:450px;
	width:20%;
	border: 1px solid #E0E0E0;
	
}

#chat-tab {
	width:99%;
	height: 20px;
	border: 0px solid #E0E0E0;
	border-left: none;
	border-right: none;
	line-height: 5px;
	padding-top: 0px;
	background: #EFF4FA;
	font-size: 11px;
	font-weight: 900;
	font-family: Helvetica;
	text-transform: uppercase;
	text-align: center;
	line-height: 10px;
	padding-bottom: 0px;
	color: #2A3C57;
}


#chatroom {
	height:100%;
	width:98%;
	display:block;
	background: transparent;
}

#conversation {
	height: 390px;
	width: 100%;
	margin: 1px;
	border: 1px solid gray;
	display: block;
	overflow: auto;
	border: 1px solid #E0E0E0;
	background: #fbfbfc;
}

.chatmessagebox {
float: left;
height: auto;
width: 100%;
margin: 1px;
padding: 4px;
background: #fbfbfc;
word-wrap: break-word;
border-radius: 1px solid #E0E0E0
}

.chatmessage {
width: 180px;
height: auto;
line-height: 13px;
font-size: 10px;
font-family: Helvetica;
color: #2A3C57;
font-size: 10px;
float: left;
text-transform: small-caps;
}

.chatname {
text-transform: uppercase;
line-height: 12px;
font-size: 10px;
font-family: Helvetica;
color: #3A5E94;
font-weight: 900;
width: 50px;
float: left;
padding-top: 1px;
padding-left: 10px;
}

		

#qa {
	height: 85%;
	width: 95%;
	margin-top: 1px;
	border: 1px solid gray;
	display: block;
	overflow: auto;
	border: 1px solid #E0E0E0;
	background: #fbfbfc;

}

#leftBar {
	margin-left:5px;
	float:left;
	height:450px;
	width:20%;
	border: 1px solid #E0E0E0;
}

#qa-tab {
	width:136px;
	height:15px;
	border-left: none;
	border-right:none;
	border:1px solid #E0E0E0;
	background-color: #EFF4FA;
	font-size: 11px;
	font-weight: 900;
	font-family: Helvetica;
	text-transform: uppercase;
	text-align: center;
	line-height: 10px;
	padding-top: 6px;
	padding-bottom: 0;
	color:#2A3C57;
	float: left;

}

#social-tab {
width: 100%;
height: 20px;
border-left: none;
border-right: none;
border: 1px solid #E0E0E0;
padding-top: 0px;
background: #EFF4FA;
font-size: 12px;
font-weight: 900;
font-family: Helvetica;
text-transform: uppercase;
text-align: center;
line-height: 10px;
color: #2A3C57;

}
#social-feed {
	width:99%;
	height:392px;
	background: #fbfbfc;
	overflow: auto;
}
/**

QnA  new styling 
*/
.questionBox {
 float: left;
 width: 267px;
 height:auto;
/*height: 80px;*/
margin: 1px;
padding: 4px;
background: #fbfbfc;
border: 1px solid #E0E0E0;
}

.questionVoting {
width: 25px;
height: auto;
float: left;
font-size: 28px;
}

.questionVoted {
width: 25px;
/*height: 100px;*/
float: left;
font-size: 12px;
padding-top: 5px;
}

.questionUpvotes {
width: 50px;
height: 30px;
font-size: 25px;
color: #4CB7FF;
}

.questionVotes {
width: 50px;
font-weight: 900;
text-transform: uppercase;
line-height: 10px;
font-family: Helvetica;
color: #2A3C57;
font-size: 12px;
padding-left: 2px;
}

.questionDownvotes {
width: 50px;
height: 30px;
font-size: 28px;
color: #4CB7FF;
}

.questionTextBox {
width: 89%;
height:auto;
float: left;;
}

.questionText {
padding-top: 10px;
width: 100%;
line-height: 12px;
font-family: Helvetica;
color: #2A3C57;
font-size: 12px;
}

.questionUser {
padding-top:10px;
width:100px;
height:20px;
font-weight: 900;
text-transform: uppercase;
line-height: 12px;
font-size: 10px;
font-family: Helvetica;
color: #2A3C57;
font-weight: 900;
float: right;
}


/***** End of QNA new styling ****/

/**** Twitter **/

.twittermessagebox {
float: left;
margin: 1px;
margin-top: 2px;
padding-left: 0px;
background: rgba(51, 204, 255, 0.18);
border: 1px solid rgba(51, 124, 255, 0.15);
border-radius: 23px;
width: 95%;
margin-top: 2px;
}

.twittericon{
height: 45px;
line-height: 12px;
font-size: 10px;
font-family: Helvetica;
color: #2A3C57;
font-size: 10px;
float: right;
padding-right: 12px;
}


.twittermessage {
line-height: 12px;
font-size: 12px;
font-family: Helvetica;
color: #2A3C57;
font-size: 9px;
padding-left: 18px;
padding-right: 10px;
padding-top: 2px;
text-align: right;
}

.twittername {
text-transform: uppercase;
line-height: 12px;
font-size: 7px;
font-family: Helvetica;
color: #2A3C57;
font-weight: 900;
float: right;
padding-top: 0px;
padding-right: 13px;
}

.icon-twitter {
text-decoration: none;
color:#00aced;
font-size:14px;
text-decoration: none;
float: center;
line-height: 10px;
padding-right: 5px;
padding-top: 5px;
font-size: 26px;
}

/** ENd twitter ***/

.questionAsked {
	border:2px solid black;
	margin:5px;
}
/*
#timer {
	background: #EFF4FA;
	width: 40%;
	height: 15px;
	padding-top: 2px;
	padding-bottom: 1px;
	border: 1px solid #E0E0E0;
	border-left: none;
	border-right: none;
	float: left;
	margin: 2px 0px 4px 18.1%;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	line-height: 10px;
	font-family: Helvetica;
	color: #2A3C57;
}*/
/**
#bottomBar {
	height:150px;
	width:100%;
	float:left;
	background-color:#edf0f1;
	border-bottom: solid #3399FF;
	width: 100%;
	position: absolute;
	bottom:0;

}

#spectators-tab {
	height:15%;
	width:20%;
	float:left;
	margin:0;
	padding:0;
}


#information-tab {
	height:15%;
	width:20%;
	float:left;
	margin:0;
	padding:0;
	border-left: none;
}

#information{
	position: absolute;
	bottom:0;
	display:none;
	height:80%;
	width: 90%;
	border:solid;
	margin-left: 40px;
}

#spectators{
	position: absolute;
	bottom:0;
	height:80%;
	width: 90%;
	border:solid;
	margin-left: 40px;
}


#bottom-bar-filler{
	height:15%;
	width:59.44%;
	float:right;
	border-top: solid 1px #999999;
	border-bottom: solid 1px #999999;
}
**/

#bottombar1 {
	position: absolute;
	height:150px;
	width:100%;
	bottom:0;
	border-top:1px solid #E0E0E0;
	margin:0;
	background: #EFF4FA;
	font-family: Helvetica;
}
#bottomBarNav1 {
	height: 20px;
	width: 100%;
	font-family: Helvetica;
	background: #EFF4FA;
	color: #2A3C57;
	border-bottom: 1px solid #E0E0E0;
	border-top: 1px solid #E0E0E0;

}
#spectators-tab1 {

	height:20px;
	width:130px;
	position: absolute;
	left:0;
	line-height: 20px;
	background: #EFF4FA;
	color: #2A3C57;
	border: 1px solid #E0E0E0;
	border-top: none;
	cursor: pointer; 
	cursor: hand;
}
#information-tab1 {
	height: 20px;
	width: 130px;
	position: absolute;
	left: 130px;
	line-height: 21px;
	background: #EFF4FA;
	color: #2A3C57;
	border: 1px solid #E0E0E0;
	border-top: none;
	cursor: pointer; 
	cursor: hand;
}
#spectators1 {
	display:none;
	position: relative;
	background-color:#edf0f1;
	overflow: auto;
	overflow-y:hidden;
	height: 100%;
 	width: 100%;
 	overflow-x:auto;
}
#spectatorName {
	text-align: center;
	font-style: 14px;
	margin-bottom:5px;
	font-size: 9px;
	font-weight: 900;
	text-transform: uppercase;
}
#spectators1 ul {
	list-style: none;
	margin:0;
	padding:0;
	display: block;
	height: 110px;
  	/* Max width here, for users without Javascript */
  	width: 1500px;
}
#spectators1 ul li {
	display:block;
	float:left;
	height:150px;
	width:130px;
	border-right:1px solid black;
	border-bottom:1px solid black;
	padding:0;
	margin:0;
	
}
#spectators1 ul li a img {
	height:70px;
	width:70px;
	border-radius: 35px;
	border:2px solid #dadada;
	margin:5px 0 0 28px;
}
#spectatorSocial {
	width:55px;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#e5eefb;
	border-radius:20px;
}
#information1 {
	float:relative;
	height:100%;
	width:100%;
	display:none;
	background-color: #edf0f1;
	overflow: auto;
	overflow-y: auto;
 	overflow-x:auto;
}
#information1 ul {
	list-style: none;
	margin:0;
	padding:0;
	display: block;
	height: 110px;
  	/* Max width here, for users without Javascript */
  	width: 1412px;
}
#panelists-tab1 {
	height:20px;
	width:130px;
	position: absolute;
	left:250px;
	line-height: 20px;
	text-align: center;
	background: #EFF4FA;
	color: #2A3C57;
	border-right: 1px solid #E0E0E0;
	border-top: none;
	cursor: pointer; 
	cursor: hand;
}

#panelists {
	display: block;
	float: left;
	overflow: auto;
	overflow-y:hidden;
	overflow-x:auto;
	height: 100%;
	width: 100%;
}
#panelists ul {
	list-style: none;
	margin:0;
	padding:0;
	display: inline-block;
	height: 110px;
  	/* Max width here, for users without Javascript */
  	width: 1412px;
}
#panelists ul li {
	display:block;
	float:left;
}

#panelists1 {
	float:left;
	height:138px;
	width:100%;
	background-color: #fff;
}

.panelistInfoBox {
	float: left;
	width: 100px;
	height: 125px;
	margin: 1px;
	padding: 4px;
	background: #fbfbfc;
	border: 1px solid #81EBB4;
	border-right:0px;
}

#panelist1InfoBox2 {
	float: left;
	width: 100px;
	height: 125px;
	margin: 1px;
	padding: 4px;
	background: #fbfbfc;
	border: 1px solid #81EBB4;
	border-right:0px;
	display: none;
}

.panelistInfoBoxFullBorder {
	float: left;
	width: 100px;
	height: 125px;
	margin: 1px;
	padding: 4px;
	background: #fbfbfc;
	border: 1px solid #81EBB4;
}

.panelistName {
	margin-bottom:5px;
	font-size: 9px;
	font-weight: 900;
	text-transform: uppercase;
	color:navy;
}

.panelistBioTitle {
	margin-bottom:5px;
	font-size: 9px;
	font-weight: 900;
	text-transform: uppercase;
	margin-top: -5px;
	color:navy;
}

.panelistMoreInfoTitle {
	margin-bottom:5px;
	font-size: 9px;
	font-weight: 900;
	text-transform: uppercase;
}

.panelistLinksTitle {
	margin-bottom:5px;
	font-size: 9px;
	font-weight: 900;
	text-transform: uppercase;
}

.panelistAvatar {
	width: 70px;
	height: 70px;
	margin-top:10px;
	margin-bottom:5px;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	background-size:35px 35px; 
}


.panelistTitle {
	font-size: 9px;
	font-weight: 900;
	text-transform: uppercase;
}

.panelistSocial {
	width: 30px;
padding-top: 1px;
padding-bottom: 1px;
background-color: #e5eefb;
border-radius: 20px;
}

.icon-linkedin-sign {
text-decoration: none;
font-size: 18px!important;
}

.icon-twitter-sign {
text-decoration: none;
display: none;
}


.icon-facebook-sign {
text-decoration: none;
display: none;
}

.panelistBioBox {
    float: left;
	width: auto;
	height: 125px;
	margin: 1px;
	padding: 4px;
	font-size: 6px;
	background: #fbfbfc;
	border: 1px solid #81EBB4;
	border-left: 0px;
}


.panelistTextBlock {
	margin-top: 5px;
	font-size: 12px;
	float: left;
	width: 320px;
	border-left: 1px solid #E6E6E6;
	padding-left: 10px;
}

#panelist1ArrowContainer {
	float: left;
	width: 10px;
	height: 79px;
	margin: 1px;
	margin-left: 0px;
	padding: 4px;
	font-size: 6px;
	background: #81EBB4;
	border: 1px solid #6FE2FF;
	border-left: 0px;
	padding-top: 50px;

}

#panelist1Arrow {
	float: right;
	font-size: 30px;
	color: #FFFFFF;
	width: 10px;
	height: 100px;
	text-decoration:none;
	font-weight: 900;
}


#panelist1Arrow2Container {
	float: left;
	width: 10px;
	height: 79px;
	margin: 1px;
	margin-left: 0px;
	padding: 4px;
	font-size: 6px;
	background: #81EBB4;
	border: 1px solid #6FE2FF;
	border-left: 0px;
	padding-top: 50px;
	display:none;
}

#panelist1AddlBlock {
	float: left;
	width: 680px;
	display: block;
	font-size: 12px;
	margin-top: -5px;display:none;
	-webkit-transition: opacity 1s ease-out;
}


#panelist2ArrowContainer {
	float: left;
	width: 10px;
	height: 79px;
	margin: 1px;
	margin-left: 0px;
	padding: 4px;
	font-size: 6px;
	background: #81EBB4;
	border: 1px solid #6FE2FF;
	border-left: 0px;
	padding-top: 50px;

}

#panelist2Arrow {
	float: right;
	font-size: 30px;
	color: #FFFFFF;
	width: 10px;
	height: 100px;
	text-decoration:none;
	font-weight: 900;
}


#panelist2Arrow2Container {
	float: left;
	width: 10px;
	height: 79px;
	margin: 1px;
	margin-left: 0px;
	padding: 4px;
	font-size: 6px;
	background: #81EBB4;
	border: 1px solid #6FE2FF;
	border-left: 0px;
	padding-top: 50px;
	display:none;

}

#panelist2Arrow2 {
	float: right;
	font-size: 30px;
	color: #FFFFFF;
	width: 10px;
	height: 100px;
	text-decoration:none;
	font-weight: 900;
}


#panelist3Arrow2Container {
	float: left;
	width: 10px;
	height: 79px;
	margin: 1px;
	margin-left: 0px;
	padding: 4px;
	font-size: 6px;
	background: #81EBB4;
	border: 1px solid #6FE2FF;
	border-left: 0px;
	padding-top: 50px;
	display:none;

}

#panelist3Arrow2 {
	float: right;
	font-size: 30px;
	color: #FFFFFF;
	width: 10px;
	height: 100px;
	text-decoration:none;
	font-weight: 900;
}

#panelist1Arrow2Container {
	float: left;
	width: 10px;
	height: 79px;
	margin: 1px;
	margin-left: 0px;
	padding: 4px;
	font-size: 6px;
	background: #81EBB4;
	border: 1px solid #6FE2FF;
	border-left: 0px;
	padding-top: 50px;
	display:none;

}

#panelist1Arrow2 {
	float: right;
	font-size: 30px;
	color: #FFFFFF;
	width: 10px;
	height: 100px;
	text-decoration:none;
	font-weight: 900;
}

#panelist2AddlBlock {
	float: left;
	width: 680px;
	display: block;
	font-size: 12px;
	margin-top: -5px;display:none;
}


#panelist3ArrowContainer {
	float: left;
	width: 10px;
	height: 79px;
	margin: 1px;
	margin-left: 0px;
	padding: 4px;
	font-size: 6px;
	background: #81EBB4;
	border: 1px solid #6FE2FF;
	border-left: 0px;
	padding-top: 50px;

}

#panelist3Arrow {
	float: right;
	font-size: 30px;
	color: #FFFFFF;
	width: 10px;
	height: 100px;
	text-decoration:none;
	font-weight: 900;
}

#panelist3AddlBlock {
	float: left;
	width: 680px;
	display: block;
	font-size: 12px;
	margin-top: -5px;display:none;
}

.backgroundClass{
	background-color: #E9E9E9;
}
.inputComponent{
	width:100%;
	padding-top: 1px;
	padding-left: 2px;
	
}

#newTweetBox{
	border: 1px solid #E0E0E0;
	width: 70%;
	height: 30px;
	margin-top: 2px;
	color: #757575;
	background: #FDFDFD;
	padding-left: 9px;
	font-family: Helvetica;
	cursor: pointer; 
	cursor: hand;

}
	margin-top: 2px;
	color: #757575;
	background: #FDFDFD;
	padding-left: 9px;
	font-family: Helvetica;
}


#chatdata{
	border: 1px solid #E0E0E0;
	width: 70%;
	height: 30px;
}
#submitnewquestion{
	width: 24%;
	background-color: navy;
	color: white;
	border: 0;
	height: 30px;
	text-transform: uppercase;
	font-family: Helvetica;
	font-size: 10px;
	font-weight: 900;
}
.questionAsked {
	margin: 15px 15px 0 15px;
	border: 3px solid black;
}

#enterchat{
	width: 27%;
	float: right;
	background-color: navy;
	color: white;
	border: 0;
	height: 29px;
	margin-top: 2px;
}

.qnaQuestionBox{
	background-color: white;
	font-family: Helvetica, sans-serif;

}
.QnAnumvotes{
	float: left;
	width: 16%;
	font-size: 36;
	margin-left: 7px;
	padding-top: 5px;
}

.QnAquestion{
	width:80%;
	float: right;
	text-align: justify;

}
.QnAauthor{
	float: right;
}

.qButtonDiv{


}
/**
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
**/
.disableVote {
	background-color: black;
}

@media screen and (max-height:565px) {

}
@media screen and (max-width:1000px) {
	/*#video {
		width:550px;
	} 
	#leftBar {
		width:200px;
	}
	#rightBar {
		width:200px;
	}*/
}

@media screen and (max-width:500px) {
	#video {
		width:300px;
	} 
}

@media screen and (max-height:720px) {
	#bottombar1 {
		position: static;
		height:133px;


		width:100%;
		float:left;


		background-color:#edf0f1;
		border-top:1px solid #E0E0E0;
		bottom:0;
	}


}
/*----------------------------------------*/


#bottom {
   position:fixed;
   left:0px;
   bottom:0px;
   height:160px;
   width:100%;
   background:#eff1f3;
   font-family: Helvetica;
   
}

.discussionInfo {
float: left;
width: 600px;
height: 125px;
margin: 1px;
padding: 4px;
font-size: 12px;
background: #fbfbfc;
border: 1px solid #E0E0E0;
}

.discussionTitle {
font-size: 9px;
font-weight: 900;
text-transform: uppercase;
color: navy;
}

.spectatorTitle {
	font-size: 9px;
	font-weight: 900;
	text-transform: uppercase;
}

.panelTitle {
	font-size: 10px;
	font-weight: 900;
	text-transform: uppercase;
	color:navy;
}

.discussionText {
margin-top: 5px;
font-size: 12px;
float: left;
width: 580px;
}




.panel {
   float:left;
   height: 140px;
   width:100px;
   background:#fbfbfc;
   padding:10px;
   margin:3px;
   margin-right: -1px;
   border: 1px solid #E0E0E0;
}

.panelBio {
   float:left;
   width: 130px;
	height: 125px;
	margin: 1px;
	padding: 4px;
	font-size: 6px;
   background:#fbfbfc;
   border: 1px solid #E0E0E0;
   border-left:0px;
}

.panelTitle {
	font-size: 10px;
	font-weight: 900;
	text-transform: uppercase;
}

#bottomAgenda {
   float:left;
   width: 225px;
	height: 125px;
	margin: 1px;
	padding: 4px;
	font-size: 6px;
   border: 1px solid #E0E0E0;
   background:#fbfbfc;

}

#bottomAgendaText {
	margin-top:5px;
	font-size: 10px;
}

#resources {
	float: left;
	width: 375px;
	height: 125px;
	margin: 1px;
	padding: 4px;
	font-size: 6px;
	background: #fbfbfc;
	border: 1px solid #E0E0E0;

}

#bottomResourcesText {
	margin-top:5px;
	font-size: 10px;

}


.avatar {
	width: 70px;
	height: 70px;
	margin-top:10px;
	margin-bottom:5px;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	background-size:70px 70px; 
}


#avatar-brunner {
	background: url(../../images/brunner.jpg) no-repeat;
	background-size: 70px 70px;
}

#avatar-themelis {
	background: url(../../images/themelis.jpg) no-repeat;
	background-size: 70px 70px;
}

#avatar-perinaz {
	background: url(../../images/perinaz.jpg) no-repeat;
	background-size: 70px 70px;
}

.icon-signout {
	float: left;
	padding-right: 2px;
	font-size: 16px;
	padding-left: 25px;
	padding-top: 2px;
}

#logout-tab1 {
	height: 20px;
	width: 120px;
	position: absolute;
	right: 0px;
	line-height: 21px;
	background: #EFF4FA;
	color: #2A3C57;
	border: 1px solid #E0E0E0;
	border-top: none;
	text-decoration: none;
}

.wastewiseInfo {
float: left;
width: 400px;
height: 125px;
margin: 1px;
padding: 4px;
font-size: 10px;
background: #fbfbfc;
border: 1px solid #E0E0E0;
}

.wastewiseTitle {
font-size: 9px;
font-weight: 900;
text-transform: uppercase;
color:navy;
}

.wastewiseText {
margin-top: 5px;
font-size: 12px;
}

.avatar-generic {
	width: 70px;
	height: 70px;
	margin-top:0px;
	margin-bottom:5px;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	background-size: 70px 90px, auto, 8px;
	background: url(images/geek.jpg) no-repeat;
}

.bullet {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #f4f5f7;
	border-radius: 20px;
	font-size: 8pt;

}

.spectatorPanel {
	float: left;
	width: 100px;
	height: 125px;
	margin: 1px;
	padding: 4px;
	background: #fbfbfc;
	border: 1px solid #E0E0E0;
	border-right:0px;
}

.icon-twitter-sign {
	color: #00aced;
	font-size:10pt;
	text-decoration: none;
	display:none!important;
}


.icon-facebook-sign {
	color: #3B5998;
	font-size:10pt;
	text-decoration: none;
	display:none!important;
}

.icon-linkedin-sign {
	color: #007bb6;
	font-size:14pt;
	text-decoration: none;

}

.icon-info-sign {
	float: left;
	padding-right: 2px;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 2px;
}

.icon-link {
	color: #6cb1d8;
	padding-right:5px;
}

.icon-group {
	float: left;
	padding-right: 2px;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 2px;
}

.icon-question-sign {
	font-size: 16px;
	top: 54px;
}

.icon-comments {
	font-size: 16px;
	top: 51px;
}

.icon-file-text-alt {
	float: left;
	padding-right: 2px;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 2px;
}

.icon-list {
	float: left;
	padding-right: 2px;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 2px;
}

.icon-caret-right {
	color: #6cb1d8;
	font-size:10pt;
	padding-right:5px;
}

.icon-time {
	font-size:16px;
}
.icon-twitter {
	font-size: 16px;
	color:#00aced;
	float:center;
}
.icon-angle-up {
	display: inline;
	width:auto;
	height:auto;
	line-height: normal;
	vertical-align: baseline;
	background-image:none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
}
